{% extends "layout.njk" %}
{% block title %}Wild Goose | Bible Studies | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <ol class="breadcrumb">
            <li><a>Formation</a></li>
            <li><a href="..">Adult Formation</a></li>
            <li class="active">Wild Goose</li>
        </ol>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <img class="img img-responsive center-block" src="header.jpg"
                     alt="header image"/>
                <h1>The Wild Goose</h1>
                <h2>Discovering a Deeper Relationship With The Holy Spirit</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <p>
                    The “Wild Goose” was a term the ancient Celts had for the Holy Spirit. If you allow Him, He will lead
                    you to a place of mercy, healing, peace, and presence. The Holy Spirit, the third Person of the
                    Trinity, will lead us to the Heart of God. This series will help you experience a deeper
                    relationship with the Spirit. As you come to experience God’s presence, the power of the Spirit will
                    transform you and bring you freedom. Discover the immense power and beauty of the unconditional love
                    of God that is the Holy Spirit. 10 Sessions plus a one day seminar:
                </p>
                <p><strong>Format:</strong> Study Guides, Small Group Discussion, DVD</p>
            </div>
            <div class="col-sm-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href=" https://goo.gl/forms/M2FS4P4kRxS4uQrG2">
                            <i class="far fa-pencil padded"></i>Register Online
                        </a>
                        <br/>
                        <small>Registration and payment are due by March 18th</small>
                    </li>
                    <li class="list-group-item"><a href="registration.pdf"><i class="far fa-file-pdf padded"></i>Paper
                            Registration</a>
                        <br/>
                        <small>Print and return to either the Cathedral or St. Mary's Parish Office.</small>
                    </li>
                    <li class="list-group-item"><a href="flyer.pdf"><i class="far fa-file-pdf padded"></i>Flyer</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"><img class="img img-responsive" src="pic3.jpg"/></div>
            <div class="col-sm-9">
                <p>
                    Classes begin <strong>April 21st, 2019</strong> and run through <strong>June 4th, 2018</strong>
                    and will be offered in two schedules:
                </p>
                <ul>
                    <li>Tuesday mornings (9:30 am -11:30 am) April 21 - June 4</li>
                    <li>Tuesday evenings (6:30 pm -8:30 pm) April 21 - June 4</li>
                </ul>
                <p>Plus one day seminar on Saturday, May 18th (breakfast and lunch included).</p>
                <p>Both morning and evening groups will be held in the St. Augustine Room at the Cathedral</p>
                <p><strong>Registration ends March 18th</strong></p>
                <p><strong>Cost:</strong> $25.00 payable to "Cathedral" (Partial scholarships are offered on a limited
                    basis.) </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center">10 Sessions, 14 Chapters</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <ol>
                    <li>God's Love Poured Out</li>
                    <li>The Breath of God</li>
                    <li>Baptism in the Holy Spirit</li>
                    <li>The Spirit and Our Lady</li>
                    <li>Gifts of the Holy Spirit</li>
                    <li>The Spirit and the Eucharist</li>
                    <li>The Spirit of Adoption</li>
                </ol>
            </div>
            <div class="col-sm-4">
                <ol start="8">
                    <li>The Sacraments</li>
                    <li>Fruits of the Holy Spirit</li>
                    <li>The Spirit and the Desert</li>
                    <li>The Spirit Convicts</li>
                    <li>The Spirit's Freedom</li>
                    <li>The Spirit Gives Witness</li>
                    <li>The Spirit Remembers</li>
                </ol>
            </div>
            <div class="col-sm-4"><img class="img img-responsive" src="pic1.jpg"/></div>
        </div>
    </div>
</div>
{% endblock %}
