@import 'variables';

.navbar {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius:0;
}

@media screen and (max-width: 450px){
    .navbar-brand{
        height: 60px;
    }
}

#search-widget {
    padding-top: 5px;
}

#search-widget em {
    color: @navbar-default-link-color;
}

.rounded {
    border-radius: 5px;
}

