// Bootstrap
// =========

// You can include styles bootstrap components if you like by
// importing the .styles files you want directly, instead of
// the main bootstrap/bootstrap.styles file.
//
// Bootstrap can be removed entirely by deleting this line.

@import "../../node_modules/bootstrap/less/bootstrap";

// The easiest way to customise Bootstrap variables while
// being able to easily override the source files with new
// versions is to override the ones you want in another file.
//
// You can also add your own custom variables to this file for
// use in your site stylesheets.

@import "./variables.less";


// Site Styles
// ===========

// Add your own site style includes here
@import "./menu.less";
@import "./search.less";
@import "./videos";
@import "fontawesome/fontawesome";
@import "fontawesome/regular";
@import "fontawesome/brands";

body {
  padding-top: 70px;
}

a.list-group-item{
    font-weight: bold;
    color: @brand-primary;
}

a.list-group-item:hover{
    color: darken(@brand-primary, 20%);
}

.glyphicon{
    padding-right: 4px;
}

.padded{
    padding:5px;
}

#bulletin div
{
    margin-left: 4px;
    margin-right: 4px;
}

.footer-links a:hover{
    text-decoration: none;
}

.footer-links a{
    margin-right: 10px;
    font-size: large;
}

.content-box h3, #saf-widget-header{
    background-color: @brand-primary;
    opacity:.9;
    color: white;
    padding: 5px;
}

#saf-widget #saf-widget-header{
    background: @brand-primary !important;
    opacity:.9 !important;
    color: white !important;
    padding: 5px !important;
}

a[ng-click]{
    cursor: pointer;
}

.indent{
    margin-left: 30px;
}

.breadcrumb {
    background-color: @navbar-default-bg;
    opacity:50;
}

.breadcrumb > .active {
    color: @navbar-default-link-color;
}

a.link-button {
  border: 2px solid;
    -webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;
    padding: 0 10px 0 10px;
}
a.link-button-sm {
  border: 1px solid;
    -webkit-border-radius: 50px;-moz-border-radius: 50px;border-radius: 50px;
    padding: 1px 10px 1px 10px;
}
a.link-button:focus, a.link-button-sm:focus, a.link-button:hover, a.link-button-sm:hover {
    text-decoration: none;
}

a.link-button h2, a.link-button-sm h2 {
    margin: 5px;
}

.border-bottom {
    border-bottom: 2px solid @navbar-default-bg;
    margin-bottom: 4px;
}

.force-bottom {
    position: absolute;
    bottom: 5%;
}

#footer {
    margin-top: 30px;
    border-top: 1px solid #eeeeee;
    padding-top: 30px;
    color: #777777;
}

.margin-right
{
    margin-right: 5px;
}

.list-group p
{
    font-size: medium;
}

.bold
{
    font-weight:bold;
}

.italic
{
    font-style: italic;
}
.underline
{
    text-decoration: underline;
}

