// Override Bootstrap variables in this file, e.g.
@import "../../node_modules/bootstrap/less/variables";

@font-size-base: 14px;

@brand-primary:         #f63c3f; // #337ab7

@navbar-default-bg:                #333;
@navbar-default-link-color:        #ccc;
@navbar-default-link-active-bg:    #f63c3f;
@navbar-default-link-hover-color:  lighten( @navbar-default-brand-color, 20% );
