{% extends "layout.njk" %}
{% block title %}Becoming Catholic | Cathedral & St. Casimir{% endblock %}
{% block content %}
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <img class="img img-responsive center-block" src="images/rcia.png"
                     alt="Rite of Christian Initiation For Adults (RCIA)"/>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>What is RCIA?</h2>
                <p>
                    This is the Church's invitation to seekers who want to discover a satisfying answer to their
                    spiritual hungers. Her
                    invitation is rich to seekers, old and new. To those who might label themselves as alienated or
                    indifferent, the
                    Church offers Jesus Christ and his love- the fulfillment of hope. The Church offers a way of
                    belonging that teaches
                    truths that free one from sin and its power. The Church initiates members into an intimate
                    relationship with God-
                    indeed, into a participation in the divine life- where one will find genuine joy and fulfillment.
                    This is all
                    possible because of Jesus Christ and his love.
                    <br/>
                    ~United States Catholic Catechism for Adults
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Who Is Invited?</h2>
                <p>
                    RCIA is for all adults who, in hearing the mystery of Christ proclaimed, consciously and freely seek
                    the living God,
                    and enter the way of faith and conversion as the Holy Spirit calls to their hearts.
                    RCIA respects the developmental manner that we as adults continue to grow throughout life.
                    <br/><br/>
                    Therefore the RCIA process is also open to those interested in learning more about the Catholic
                    Church,
                    even though they may not be ready to make a commitment at this times, as well as to those Catholics
                    who are
                    interested in exploring their Catholic faith.&nbsp;
                </p>
                <div class="text-left">

                    <strong>Sacramental Preparation for:</strong>
                    <ul>
                        <li>Those who feel this is the time to begin a journey toward Baptism.</li>
                        <li>Those baptized Christians who wish to explore entering into full communion in the Catholic
                            faith.
                        </li>
                        <li>Those baptized Catholic who wish to complete their Sacraments of Initiation of Confirmation
                            and first Eucharist.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2></h2>
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>The Journey Toward Christ:</h2>
                <p>Faith in Jesus
                    Christ is a precious gift of God's divine love and mercy. It is God who initiates this wonderful
                    movement in a
                    person's life, and continues to nurture this faith in Jesus Christ through the gifts of the Holy
                    Spirit. RCIA
                    facilitates one's journey in faith and helps a person to grow into the reality of eternal life.
                    <br/><br/>
                    We gather together to explore the treasures of the Catholic faith. We learn about the person of
                    Jesus and to develop an
                    intimate friendship with our Savior through prayer, scripture study, exploration of Catholic beliefs
                    and practices,
                    Eucharistic worship, and fellowship.
                    <br/><br/>
                    RCIA includes various liturgical rites that are celebrated on the way
                    to full membership in the Catholic Church. The journey is marked by these rites which celebrate what
                    has been
                    reflected upon and received. Thus they are liturgical landmarks, public celebrations of a deepening
                    acceptance of
                    the Lord's call and steps in a process of coming to a greater knowledge of Christ and His
                    Church.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>When and Where</h2>
                <p>
                    In the city of Winona, we run a
                    joint RCIA program with all the area Catholic Churches as well as Winona State University and Saint
                    Mary's
                    University.
                    <br/><br/>
                    We meet weekly on Tuesday evenings from 7:00pm to 8:30pm at the Cathedral of the Sacred Heart
                    in the St. Thomas Room. Classes begin in late September and conclude with the celebration of
                    Pentecost.
                    <br/><br/>
                    The journey is always a beginning! If you have felt the first stirrings of interest in discovering
                    what it means to know
                    who Jesus is and what it means to be a Catholic Christian, please come and join us for the journey.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h2>Sign Up</h2>
                <p>
                    ​To receive more information, call the Rectory Office, 507-452-4770
                    or fill out ﻿<a href="/contact/?rcia">this form</a>.
                    A member of the RCIA team will contact you.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
