{% extends "layout.njk" %}
{% block title %}Acts | Bible Studies | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
    <div class="body">
        <div class="container">
            <ol class="breadcrumb">
                <li><a>Formation</a></li>
                <li><a href="..">Adult Formation</a></li>
                <li class="active">Acts</li>
            </ol>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12">
                    <h1>Acts</h1>
                    <p>"The Spread of the Kingdom” by Jeff Cavins</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"><img class="img img-responsive" src="./image.jpg"/></div>
                <div class="col-sm-7">
                    <p>
                        Acts is the story of how a few Christians empowered by the Holy Spirit brought Christ and the
                        Good News to the ends of the earth. They taught as Christ did. They performed miracles as he
                        did. They faced internal strife, hostile crowds, governments and rulers. Yet despite all of
                        this, they brought the kingdom of God to a broken world and the love of God to the hearts of
                        men. Acts will enrich your faith and rekindle your love for Christ as you learn about the lives
                        of his first disciples and the Early Church.
                    </p>
                    <p>(Format: Student Workbook, Small Group Discussion, DVD presentations.)</p>
                </div>
                <div class="col-sm-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://goo.gl/forms/bnSmlIPFPrcG93Y92">
                                <i class="far fa-pencil padded"></i>Register Online
                            </a>
                            <br/>
                            <small>Registration and payment are due by September 10th</small>
                        </li>
                        <li class="list-group-item"><a href="registration.pdf"><i class="far fa-file-pdf padded"></i>Paper
                                Registration</a>
                            <br/>
                            <small>Print and return to either the Cathedral or St. Mary's Parish Office by September
                                10th.
                            </small>
                        </li>
                        <li class="list-group-item"><a href="flyer.pdf">
                                <i class="far fa-file-pdf padded"></i>Flyer</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>Schedule</h3>
                    <p>Cathedral: Monday 6:30 - 8:30PM</p>
                    <p>Cathedral: Wednesday AM 9:30 - 11:30AM</p>
                    <p>20 Sessions: 9/17/2018 - 3/13/2019</p>
                    <p><strong>Cost:</strong> $32. </p>
                    <p><strong>Deadline:</strong> Mon 9/10. </p>
                    <p>Make checks payable to "Cathedral” Click the link above to register or pick up forms in
                        Cathedral’s Gathering
                        Space & St. Mary’s Commons. </p>
                    <p><strong>Contact:</strong> Donna 507-454-1296</p>
                    <p>(See Poster & Registration Form for New Options: 45 min class & Home Study.)</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
