{% extends "layout.njk" %}
{% block title %}Confirmation{% endblock %}
{% block content %}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="/formation/youth/">Faith Formation</a></li>
        <li class="active">Confirmation</li>
    </ol>
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center">Confirmation</h2><br>
        </div>
        <div class="col-md-9">
            <p>Sacramental preparation for youth in tenth grade begins with the Orientation Meeting in October for youth
                and their parents. </p>
            <p>Youth and their sponsors meet each month from October thru May,
                along with various other activities throughout the year. </p>
            <p>The Confirmation Liturgy takes place in May at the Basilica of St. Stanislaus with the other Winona area
                Catholic Churches.</p>
            <p>Older high school youth are also welcome to prepare and receive the Sacrament of Confirmation.</p>
        </div>
        <div class="col-md-3">
            <img src="images/confirmation2012.jpg" style="padding:4px;" class="img img-responsive">
            <br/>
            <div class="list-group">
                <a href="http://www.stmaryswinona.org/index.cfm?load=page&amp;page=156" class="list-group-item">
                    <i class="far fa-external-link"></i> Program Details
                </a>
            </div>
            <div class="bold">For More Information:</div>
            <p>Anna Therneau</p>
            <p>Faith Formation Director</p>
            <p>Phone: 507.452.4770 #021</p>
            <p>E-mail: <a href="mailto:atherneau@cathedralwinona.org">atherneau@catheralwinona.org</a></p>
        </div>
    </div>
</div>
{% endblock %}
