{% extends "layout.njk" %}
{% block title %}Youth Faith Formation{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>Parish Faith Formation</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <p>
                            "Since parents have given children their life, they are bound by the most serious obligation
                            to educate their offspring and therefore must be recognized as the primary and principal
                            educators. Parents are the ones who must create a family atmosphere animated by love and
                            respect for God and man, in which the well-rounded personal and social education of children
                            is fostered." ~ Vatican II
                        </p>
                        <p>
                            It is essential that parents take an active role in educating their children in the faith,
                            in both their words and example. Parish programs are established to assist parents in their
                            responsibility to educate their children, but they can never take their place.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img class="img img-responsive thumbnail" src="images/guc.jpg" alt=""/>
                    </div>
                    <div class="col-md-9">
                        <h2>Growing Up Catholic</h2>
                        <p>
                            Growing Up Catholic provides the student, and parents, with a deeper understanding about the
                            sacraments of First Reconciliation and First Communion. Classes take place once per month in
                            conjunction with our Wednesday night Faith Formation program. All of our second-graders
                            participate in this sacramental preparation program for both First Reconciliation and First
                            Communion. Participation in preparation classes is required of those who wish to receive
                            these sacraments. Parents are strongly encouraged to participate with their children as much
                            as possible as they learn about God's forgiveness and the Holy Eucharist.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img class="img img-responsive img-thumbnail" src="images/little-children-come.png"/>
                    </div>
                    <div class="col-md-9">
                        <h2><a href="/formation/youth/childrens-liturgy.html">Children's Liturgy of the Word (Sept. -
                                May)</a></h2>
                        <p>
                            Throughout the school year, at the 10:30am Mass, children, age 4-8, are able to take part in our
                            Children's Liturgy of the Word. They leave the Mass together before the First Reading to gather
                            with their teachers in the St. Joseph room and hear the Word of God in an age appropriate
                            setting. They rejoin the congregation before the offertory.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img class="img img-responsive thumbnail" src="/images/st_casimir_exterior.jpg" alt=""/>
                    </div>
                    <div class="col-md-9">
                        <h2>Wednesday Night Faith Formation</h2>
                        <p>
                            Regular Faith Formation classes for students not enrolled in the Catholic schools
                            take place at St. Casimir parish for grades 1-9 at St. Casimir parish.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <img class="img img-responsive thumbnail" src="images/confirmation2012.jpg" alt=""/>
                    </div>
                    <div class="col-md-9">
                        <h2><a href="/formation/youth/confirmation.html">Confirmation</a></h2>
                        <p>
                            Our Confirmation sacramental preparation program (for tenth-graders) is run in conjunction
                            with St. Mary's Parish in Winona. Attendance in the preparation classes are required for
                            those who wish to receive the sacrament. Parents and/or Sponsors are strongly encouraged to
                            attend with the candidate.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="list-group">
                <a href="documents/ScopeAndSequence.pdf" class="list-group-item">
                    <i class="far fa-clipboard"></i> Scope & Sequence
                </a>
                <a href="https://goo.gl/forms/oi6xURa6643cAiIu2" class="list-group-item">
                    <i class="far fa-pencil"></i> Faith Formation Registration
                </a>
                <a href="documents/2019-2020-calendar.pdf" class="list-group-item">
                    <i class="far fa-calendar"></i> 2019-2020 Calendar
                </a>
                <a href="documents/GrowingUpCatholicRegistration2019.pdf" class="list-group-item">
                    <i class="far fa-pencil"></i> Growing Up Catholic Registration
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
