{% extends "layout.njk" %}
{% block title %}Confirmation{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <ol class="breadcrumb">
            <li><a href="/formation/youth/">Faith Formation</a></li>
            <li class="active">Confirmation</li>
        </ol>
        
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2 class="text-center">Confirmation</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                The sacrament of Confirmation is the second of the Sacraments of Initiation. It seals
                                and completes the graces first given in Baptism. In Confirmation a person receives a
                                fuller
                                outpouring of the gifts of the Holy Spirit: wisdom, understanding, counsel, fortitude,
                                knowledge, piety, and fear of the Lord.
                            </p>
                            <p>
                                Confirmation strengthens and prepares us to be <i>miletes Christi</i>, soldiers of
                                Christ, to give witness to Christ and live according to His Law.</i>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-3">
                <img src="images/confirmation.png" class="img-responsive"><br/>
                <div class="list-group">
                    <a href="/formation/youth/confirmation" class="list-group-item">
                        <i class="far fa-link"></i> Faith Formation
                    </a>
                </div>

            </div>
        </div>
        <div class="row col-sm-12">
        </div>
    </div>
</div>
{% endblock %}
