{% extends "layout.njk" %}
{% block title %}Confession{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/formation/sacraments/">Sacraments</a></li>
                    <li class="active">Confession</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-9">
                <h2 class="text-center">Confession</h2><br>
                <p class="text-center">"Do not be afraid of confession. When someone is in line for confession they feel
                    all these things - even shame - but then, when they finish confessing, they leave free, great,
                    beautiful, forgiven, clean, happy. The sacrament of reconciliation is a sacrament of healing. When I
                    go to confession, it is for healing: healing the soul, healing the heart because of something that I
                    did to make it unwell."-Pope Francis</p>
                <h2>How to Make a Good Confession</h2>
                <h3>Step 1: Examine Your Conscience</h3>
                <p>It is a good habit to make a daily examen, evaluating where we have experienced God throughout the
                    day, and where we have fallen short in serving Him. This will help us when we make our examen in
                    preparation for sacramental Confession.</p>
                <p>A good place to start in making your examen is with the 10 Commandments:</p>
                <ol>
                    <li>
                        <h4>I am the Lord your God: you shall not have strange Gods before me</h4>
                        <p>Have I treated people, events, or things as more important than God?</p>
                    </li>
                    <li>
                        <h4>You shall not take the name of the LORD, your God, in vain</h4>
                        <p>Have I sworn upon holy things, especially the name of God, in order to deceive others?</p>
                    </li>
                    <li>
                        <h4>Keep holy the LORD's Day</h4>
                        <p>Do I go to Mass every Sunday (or Saturday Vigil) and on Holy Days of Obligation (Jan. 1; the
                            Ascension; Aug. 15; Nov. 1; Dec. 8; Dec. 25)? Do I avoid, when possible, work that impedes
                            worship to God, joy for the Lord’s Day, and proper relaxation of mind and body? Do I look
                            for ways to spend time with family or in service on Sunday? </p>
                    </li>
                    <li>
                        <h4>Honor your Father and Mother</h4>
                        <p>Do I show my parents due respect? Do I care for them if they are old? Am I grateful for what
                            they have given me? </p>
                    </li>
                    <li>
                        <h4>You shall not kill</h4>
                        <p>Have I harmed another through physical, verbal, or emotional means? </p>
                    </li>
                    <li>
                        <h4>You shall not commit adultery?</h4>
                        <p>Have I used sex outside of the lifelong bond of marriage, with self or others? </p>
                    </li>
                    <li>
                        <h4>You shall not steal</h4>
                        <p>Have I taken anything that was not mine or failed to do the work I am paid for?</p>
                    </li>
                    <li>
                        <h4>You shall not bear false witness against your neighbor. </h4>
                        <p>Have I gossiped, told lies, or embellished stories at the expense of another? </p>
                    </li>
                    <li>
                        <h4>You shall not covet your neighbor’s spouse. </h4>
                        <p>Have I honored my spouse with my full affection and exclusive love? Have I looked at anyone
                            else with lust?</p>
                    </li>
                    <li>
                        <h4>You shall not covet your neighbor’s goods.</h4>
                        <p>Have I desired that others be worse off or celebrated their loss or failure because of
                            jealousy?</p>
                    </li>
                </ol>
                <p>1 Corinthians 13 and Matthew 5 could also be used as part of your examen.</p>
                <h3>Step 2: Repent Your Sins</h3>
                <p>This includes two parts. First, we must be sorry for our sins. Our sin offends God and our neighbor,
                    harming our relationship with both. Second, we must resolve not to sin again. This does not mean
                    that we will never commit a particular sin again, but it means that we will try our hardest to avoid
                    it in the future.</p>
                <h3>Step 3: Confess Your Sins</h3>
                <ol>
                    <li>Go to the priest</li>
                    <li>Say "Bless me Father, for I have sinned. It has been ________ (weeks, months, years) since my
                        last confession."
                    </li>
                    <li>Confess your sins. Serious (mortal) sins must be confessed by kind (what you did) and number
                        (how many times you did it). If you aren't sure exactly how many times, give your best guess.
                        "Many times" can suffice.
                        <p>You can also name any less serious (venial) sins that are present in your life. </p>
                        <p>If there is some sin that you particularly don't want to confess, it's probably the one that
                            you most need to confess.</p>
                        <p>Finish with these or similar words "for these and all the sins of my life, I am truly
                            sorry."</p>
                    </li>
                    <li>Listen to the priest while he gives some advice or asks for clarifications. He will give you a
                        penance: some prayers or actions that you will do after leaving Confession in order to make up
                        for your sins.
                    </li>
                    <li>The priest will then ask you to say an act of contrition. This must basically say two things: I
                        am sorry, and I will not do it again.
                        <p>An example is: "O my God, I am heartily sorry for having offended you, because I dread the
                            loss of Heaven and the pains of Hell, but most of all because they offend Thee, who art all
                            loving and deserving of all my love. Therefore I firmly resolve, with the help of thy grace,
                            to confess my sins, do penance, and to amend my life. Amen.</p>
                        <p>Often this (or similar) prayer will be on a card in the confessional.</p>
                    </li>
                    <li>The priest will now pray the prayer of Absolution by which he will forgive your sins by the
                        authority of Jesus Christ. As he says the crucial words, "I absolve you from your sins in the
                        name of the Father, and of the Son, and of the Holy Spirit" make the sign of the cross and
                        answer “Amen”.
                    </li>
                    <li>The priest will conclude with one of several phrases such as "Your sins are forgiven go in
                        peace". Respond: "Thanks be to God." and then go do your penance.
                    </li>
                </ol>
                <h3>Step 4: Go and Sin No More</h3>
                <p>Even though we will always struggle with sin until we enter into the next life, we leave each
                    Confession forgiven of our sins, a new start, fully intending to live life differently this time,
                    yet also planning to come back to this sacrament again soon. Nothing prevents sin so well as
                    frequent Confession!</p>

            </div>
            <div class="col-sm-12 col-md-3">
                <img src="images/confession.png" class="img-responsive"><br/>
                <div class="list-group">
                    <a href="documents/examination-of-conscience-altier.pdf" class="list-group-item">
                        <i class="far fa-book"></i> Longer Examination
                    </a>
                    <a href="http://www.usccb.org/prayer-and-worship/sacraments-and-sacramentals/penance/sacrament-reconciliation-children-examination-conscience.cfm"
                       class="list-group-item">
                        <i class="far fa-external-link"></i> Examination for Children
                    </a>
                    <a href="http://www.usccb.org/prayer-and-worship/sacraments-and-sacramentals/penance/examinations-of-conscience.cfm"
                       class="list-group-item">
                        <i class="far fa-external-link"></i> Other Examinations
                    </a>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
            </div>
        </div>
    </div>
</div>
{% endblock %}
