{% extends "layout.njk" %}
{% block title %}Sacraments{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>Sacraments of the Church</h1>
            </div>
        </div>
        <div class="row col-sm-12">
            <h2>Sacraments of Initiation</h2>
            <p>"The sacraments of Christian initiation - Baptism, Confirmation, and the Eucharist - lay the foundations of every Christian life. "The sharing in the divine nature given to men through the grace of Christ bears a certain likeness to the origin, development, and nourishing of natural life." ~ CCC 1212</p>
        </div>
        <div class="row">
            <div class="col-sm-3"><img src="images/baptism.png" class="img-responsive"></div>
            <div class="col-sm-9">
                <h3><a href="/formation/sacraments/baptism.html">Baptism</a></h3>
                <p>"Holy Baptism is the basis of the whole Christian life, the gateway to life in the Spirit (vitae spiritualis ianua), and the door which gives access to the other sacraments. Through Baptism we are freed from sin and reborn as sons of God; we become members of Christ, are incorporated into the Church and made sharers in her mission: "Baptism is the sacrament of regeneration through water in the word."" ~ CCC 1213</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <h3><a href="/formation/sacraments/confirmation.html">Confirmation </a></h3>
                <p>"Baptism, the Eucharist, and the sacrament of Confirmation together constitute the "sacraments of Christian initiation," whose unity must be safeguarded. It must be explained to the faithful that the reception of the sacrament of Confirmation is necessary for the completion of baptismal grace.89 For "by the sacrament of Confirmation, [the baptized] are more perfectly bound to the Church and are enriched with a special strength of the Holy Spirit. Hence they are, as true witnesses of Christ, more strictly obliged to spread and defend the faith by word and deed."" ~ CCC 1285</p>
            </div>
            <div class="col-sm-3 hidden-xs"><img src="images/confirmation.png" class="img-responsive"></div>
        </div>
        <div class="row">
            <div class="col-sm-3 hidden-xs"><img src="images/eucharist.png" class="img-responsive"></div>
            <div class="col-sm-9">
                <h3><a href="/formation/sacraments/eucharist.html">Holy Eucharist</a></h3>
                <p>"The holy Eucharist completes Christian initiation. Those who have been raised to the dignity of the royal priesthood by Baptism and configured more deeply to Christ by Confirmation participate with the whole community in the Lord's own sacrifice by means of the Eucharist."</p>
                <p>"At the Last Supper, on the night he was betrayed, our Savior instituted the Eucharistic sacrifice of his Body and Blood. This he did in order to perpetuate the sacrifice of the cross throughout the ages until he should come again, and so to entrust to his beloved Spouse, the Church, a memorial of his death and resurrection: a sacrament of love, a sign of unity, a bond of charity, a Paschal banquet 'in which Christ is consumed, the mind is filled with grace, and a pledge of future glory is given to us.'" ~ CCC 1322 - 1323</p>
            </div>
        </div>
        <hr>
        <div class="row col-sm-12">
            <h2>Sacraments of Healing</h2>
            <p>"The Lord Jesus Christ, physician of our souls and bodies, who forgave the sins of the paralytic and restored him to bodily health, has willed that his Church continue, in the power of the Holy Spirit, his work of healing and salvation, even among her own members. This is the purpose of the two sacraments of healing: the sacrament of Penance and the sacrament of Anointing of the Sick." ~ CCC 1421</p>
            <div class="row">
                <div class="col-sm-9">
                    <h3><a href="/formation/sacraments/confession.html">Confession</a></h3>
                    <p>"Those who approach the sacrament of Penance obtain pardon from God's mercy for the offense  committed against him, and are, at the same time, reconciled with the Church which they have  wounded by their sins and which by charity, by example, and by prayer labors for their conversion."  ~ CCC 1422</p>
                </div>
                <div class="col-sm-3"><img src="images/confession.png" class="img-responsive"></div>
            </div>
            <div class="row">
                <div class="col-sm-3 hidden-xs"><img src="images/anointing.png" class="img-responsive"></div>
                <div class="col-sm-9">
                    <h3><a href="/formation/sacraments/anointing.html">Anointing of the Sick</a></h3>
                    <p>"By the sacred anointing of the sick and the prayer of the priests the whole Church commends those who are ill to the suffering and glorified Lord, that he may raise them up and save them. And indeed she exhorts them to contribute to the good of the People of God by freely uniting themselves to the Passion and death of Christ." ~ CCC 1499</p>
                </div>
            </div>
        </div>
        <div class="row col-sm-12">
            <hr>
            <h2>Sacraments at the Service of Mission</h2>
            <p>"Through these sacraments those already consecrated by Baptism and Confirmation1 for the common priesthood of all the faithful can receive particular consecrations. Those who receive the sacrament of Holy Orders are consecrated in Christ's name "to feed the Church by the word and grace of God."2 On their part, "Christian spouses are fortified and, as it were, consecrated for the duties and dignity of their state by a special sacrament."" ~ CCC 1535</p>
            <div class="row">
                <div class="col-sm-9">
                    <h3><a href="/formation/sacraments/orders.html">Holy Orders</a></h3>
                    <p>"Holy Orders is the sacrament through which the mission entrusted by Christ to his apostles continues to be exercised in the Church until the end of time: thus it is the sacrament of apostolic ministry. It includes three degrees: episcopate, presbyterate, and diaconate." ~ CCC 1536</p>
                </div>
                <div class="col-sm-3 hidden-xs"><img src="images/orders.png" class="img-responsive"></div>
            </div>
            <div class="row">
                <div class="col-sm-3"><img src="images/matrimony.png" class="img-responsive"></div>
                <div class="col-sm-9">
                    <h3><a href="/formation/sacraments/matrimony.html">Holy Matrimony</a></h3>
                    <p>"The matrimonial covenant, by which a man and a woman establish between themselves a partnership of the whole of life, is by its nature ordered toward the good of the spouses and the procreation and education of offspring; this covenant between baptized persons has been raised by Christ the Lord to the dignity of a sacrament." ~ CCC 1601</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
