{% extends "layout.njk" %}
{% block title %}Holy Matrimony{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/formation/sacraments/">Sacraments</a></li>
                    <li class="active">Holy Matrimony</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <h2 class="text-center">Holy Matrimony</h2>
        </div>
        <div class="row">
            <div class="col-sm-8"><img src="images/matrimony.png" style="padding:4px;" class="img-responsive pull-left">
                <p>"St. Paul said: "Husbands, love your wives, as Christ loved the Church. . . . This is a great mystery, and I mean in reference to Christ and the Church" (Eph 5:25, 32).</p>
                <p>The marriage covenant, by which a man and a woman form with each other an intimate communion of life and love, has been founded and endowed with its own special laws by the Creator. By its very nature it is ordered to the good of the couple, as well as to the generation and education of children. Christ the Lord raised marriage between the baptized to the dignity of a sacrament (cf. CIC, can. 1055 § 1; cf. GS 48 § 1).</p>
                <p>The sacrament of Matrimony signifies the union of Christ and the Church. It gives spouses the grace to love each other with the love with which Christ has loved his Church; the grace of the sacrament thus perfects the human love of the spouses, strengthens their indissoluble unity, and sanctifies them on the way to eternal life (cf. Council of Trent: DS 1799).</p>
                <p>Marriage is based on the consent of the contracting parties, that is, on their will to give themselves, each to the other, mutually and definitively, in order to live a covenant of faithful and fruitful love.</p>
                <p>Since marriage establishes the couple in a public state of life in the Church, it is fitting that its celebration be public, in the framework of a liturgical celebration, before the priest (or a witness authorized by the Church), the witnesses, and the assembly of the faithful.</p>
                <p>Unity, indissolubility, and openness to fertility are essential to marriage. Polygamy is incompatible with the unity of marriage; divorce separates what God has joined together; the refusal of fertility turns married life away from its "supreme gift," the child (GS 50 § 1).</p>
                <p>The remarriage of persons divorced from a living, lawful spouse contravenes the plan and law of God as taught by Christ. They are not separated from the Church, but they cannot receive Eucharistic communion. They will lead Christian lives especially by educating their children in the faith.</p>
                <p>The Christian home is the place where children receive the first proclamation of the faith. For this reason the family home is rightly called "the domestic church," a community of grace and prayer, a school of human virtues and of Christian charity."</p>
                <p>~CCC 1659-1666</p>
            </div>
            <div class="col-sm-4">
                <div class="list-group"><a href="/contact?matrimony" class="list-group-item">
                    <div class="list-group-item-heading">Wedding Application Form</div>
                    <div class="list-group-item-text">Congratulations on your engagement! Please fill out this form if you would like to have a wedding at St. Casimir, Cathedral, or the Chapel of the Angels. You will be contacted soon.</div></a><a href="http://www.dow.org/Departments/Life-Marriage-Family/Marriage-Preparation" class="list-group-item">
                    <div class="list-group-item-heading">Pre-Cana Classes</div>
                    <div class="list-group-item-text">As you know, planning your wedding involves the careful consideration of all the details that will make it a beautiful and memorable day. Even more important is the preparation for your married life. It is with this in mind that the Church has formulated a marriage preparation policy, which can assist you in being better prepared both for the wedding and the marriage.</div></a></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
