{% extends "layout.njk" %}
{% block title %}Holy Orders{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ol class="breadcrumb">
                    <li><a href="/formation/sacraments/">Sacraments</a></li>
                    <li class="active">Holy Orders</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <h2 class="text-center">Holy Orders</h2>
        </div>
        <div class="row">
            <div class="col-sm-8">
                <img src="images/orders.png" style="padding:4px;" class="img-responsive pull-left">
                <p>
                    "St. Paul said to his disciple Timothy: "I remind you to rekindle the gift of God that is within you
                    through the laying on of my hands" (2 Tim 1:6), and "If any one aspires to the office of bishop,
                    he desires a noble task." (1 Tim 3:1) To Titus he said: "This is why I left you in Crete, that you
                    amend what was defective, and appoint presbyters in every town, as I directed you" (Titus 1:5).

                    <br/><br/>
                    The whole Church is a priestly people. Through Baptism all the faithful share in the priesthood of
                    Christ. This participation is called the "common priesthood of the faithful." Based on this common
                    priesthood and ordered to its service, there exists another participation in the mission of Christ:
                    the ministry conferred by the sacrament of Holy Orders, where the task is to serve in the name and
                    in the person of Christ the Head in the midst of the community.

                    <br/><br/>
                    The ministerial priesthood differs in essence from the common priesthood of the faithful because it
                    confers a sacred power for the service of the faithful. The ordained ministers exercise their
                    service for the People of God by teaching (munus docendi), divine worship (munus liturgicum) and
                    pastoral governance (munus regendi).

                    <br/><br/>
                    Since the beginning, the ordained ministry has been conferred and exercised in three degrees: that
                    of bishops, that of presbyters, and that of deacons. The ministries conferred by ordination are
                    irreplaceable for the organic structure of the Church: without the bishop, presbyters, and deacons,
                    one cannot speak of the Church (cf. St. Ignatius of Antioch, Ad Trall. 3,1).

                    <br/><br/>
                    The bishop receives the fullness of the sacrament of Holy Orders, which integrates him into the
                    episcopal college and makes him the visible head of the particular Church entrusted to him. As
                    successors of the apostles and members of the college, the bishops share in the apostolic
                    responsibility and mission of the whole Church under the authority of the Pope, successor of St.
                    Peter.

                    <br/><br/>
                    Priests are united with the bishops in sacerdotal dignity and at the same time depend on them in the
                    exercise of their pastoral functions; they are called to be the bishops' prudent co-workers. They
                    form around their bishop the presbyterium which bears responsibility with him for the particular
                    Church. They receive from the bishop the charge of a parish community or a determinate ecclesial
                    office.

                    <br/><br/>
                    Deacons are ministers ordained for tasks of service of the Church; they do not receive the
                    ministerial priesthood, but ordination confers on them important functions in the ministry of the
                    word, divine worship, pastoral governance, and the service of charity, tasks which they must carry
                    out under the pastoral authority of their bishop.

                    <br/><br/>
                    The sacrament of Holy Orders is conferred by the laying on of hands followed by a solemn prayer of
                    consecration asking God to grant the ordinand the graces of the Holy Spirit required for his
                    ministry. Ordination imprints an indelible sacramental character.

                    <br/><br/>
                    The Church confers the sacrament of Holy Orders only on baptized men (viri), whose suitability for
                    the exercise of the ministry has been duly recognized. Church authority alone has the responsibility
                    and right to call someone to receive the sacrament of Holy Orders.

                    <br/><br/>
                    In the Latin Church the sacrament of Holy Orders for the presbyterate is normally conferred only on
                    candidates who are ready to embrace celibacy freely and who publicly manifest their intention of
                    staying celibate for the love of God's kingdom and the service of men.

                    <br/><br/>
                    It is bishops who confer the sacrament of Holy Orders in the three degrees." 
                    <br/>~ CCC 1590-1600</p>

            </div>
            <div class="col-sm-4">
                If you think God may be calling you to the priesthood, contact the Diocesan vocation director,
                Fr. Will Thompson (<a href="mailto:wthompson@dow.org">wthompson@dow.org</a>).
            </div>
        </div>
    </div>
</div>
{% endblock %}
