{% extends "layout.njk" %}
{% block title %}Contact Us | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
    <div class="container">
        <h1>Contact Us</h1>
        <ul class="nav nav-tabs">
            <li id="generalTab" class="active" onclick="showSection('general');">
                <a ng-click="showSection('general');">General Inquiries</a></li>
            <li id="adorationTab" onclick="showSection('adoration');">
                <a ng-click="showSection('adoration');">Adoration Registration</a></li>
            <li id='baptismTab' onclick="showSection('baptism');">
                <a ng-click="showSection('baptism');">Baptism Requests</a></li>
            <li id="matrimonyTab" onclick="showSection('matrimony');">
                <a ng-click="showSection('matrimony');">Wedding Requests</a></li>
            <li id="rciaTab" onclick="showSection('rcia');">
                <a ng-click="showSection('rcia');">RCIA Registration</a></li>
            <li id="registrationTab" onclick="showSection('registration');">
                <a ng-click="showSection('registration');">Parish Registration</a></li>
        </ul>
        <div id="general" class="table-bordered container-fluid section" style="padding-top: 10px; display:block">
            <p>For general inquiries, please email <a href="mailto:info@cathedralwinona.org">the office</a>, or call
                507.452.4770.</p>
            <p>For website related issues, please email <a href="mailto:tech@cathedralwinona.org">the webmaster</a> or
                <a href="https://gitlab.com/cascwinona/website/issues">file a bug report</a>.</p>
        </div>
        <div id="matrimony" class="table-bordered container-fluid section" style="padding-top: 10px; display:none">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe9BlzG7Tp8Yx8SYF9YQcMZIZMU4gxytiA_SZZdfN49qtJQzw/viewform?embedded=true"
                    width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading...
            </iframe>
        </div>
        <div id="baptism" class="table-bordered container-fluid section" style="padding-top: 10px; display:none">
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSem7RP0yVcCWZc9v87oa2VrVmtlUDm-2_jNh3HZcKsCzLneWA/viewform"
                width="100%"
                height="500px">
            </iframe>

        </div>
        <div id="rcia" class="table-bordered container-fluid section" style="padding-top: 10px; display:none">
            <iframe
                    src="https://docs.google.com/forms/d/e/1FAIpQLSf2kq1gEWEfthnEvgL8vGkO_QU1hp_IjH1poNHMkqWx1PykHg/viewform"
                    width="100%" height="500px">
            </iframe>
        </div>
        <div id="registration" class="table-bordered container-fluid section" style="padding-top: 10px; display:none">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSczohRTBcLcXppOG2DrRPlk9N7S7JGykuoytDEuCOobzQe_ew/viewform?c=0&w=1"
                    width="100%"
                    height="500px">
            </iframe>
        </div>
        <div id="adoration" class="table-bordered container-fluid section" style="padding-top: 10px; display:none">
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSceo46MYoybhQWAqnz4dTTQSR2xDU7k_H4LHMzT0tiC6OQTAA/viewform?c=0&w=1"
                    width="100%"
                    height="500px">
            </iframe>
        </div>
    </div>
    <script type="text/javascript">
        function showSection(section) {
            const sectionElement = $('#' + section);
            if(sectionElement){
                $('div.section').hide();
                sectionElement.show();
                $('li').removeClass('active');
                $('#' + section + 'Tab').addClass('active');
            }
            
        }
        
        $(function() {
            const param = window.location.search.substring(1);
            if(param !== '') {
                showSection(param);
            }
        })
    </script>

{% endblock %}
