{% extends "layout.njk" %}
{% block title %}Genesis Bible Study | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
    <div id="body">
        <div class="container">
            <ol class="breadcrumb">
                <li><a>Formation</a></li>
                <li><a href="..">Adult Formation</a></li>
                <li class="active">Genesis</li>
            </ol>
            <div class="row text-center">
                <div class="col-sm-12">
                    <img class="img img-responsive center-block" src="./image.png"/>
                    <h1>Genesis to Jesus</h1>
                    <h3>"The Bible and the Story of our Salvation" by Scott Hahn</h3>
                    <h3>St. Paul Center for Biblical Study</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-md-offset-2">
                    <h4>Summary</h4>
                    <p>
                        Get the big picture overview of the Bible. Learn how Jesus and the Church are the fulfillment of
                        God's fatherly plan for the world from the very beginning of time.
                    </p>
                    <p>Format: Student Workbook, Small Group Discussion, DVD presentations.</p>
                </div>
                <div class="col-md-3">
                    <h4>Schedule</h4>
                    <strong>Evening Group</strong>
                    <p>Mondays 6:30pm - 8:00pm</p>
                    <p>May 14 - June 25th, 2018 (7 Sessions)</p>
                    <p>Cathedral - St. Augustine Room</p>
                    <p>Cost: $12 (for study guide)</p>
                </div>
                <div class="col-md-4">
                    <h4>Registration</h4>
                    <p>Registration and payment due by <strong>April 30th</strong></p>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://goo.gl/forms/1EUaevZ5R4Ax63L93" title="Click here to register online">
                                <i class="far fa-pencil padded"></i>Register Online
                            </a>
                        </li>
                        <li class="list-group-item"><a href="./registration.pdf">
                                <i class="far fa-file-pdf padded"></i>Paper Registration</a>
                            <br/>
                            <small>
                                Copies available for pickup in the Cathedral Gathering Space and St. Mary's Commons.
                                Please return completed forms to the parish office.
                            </small>
                        </li>
                        <li class="list-group-item"><a href="./flyer.pdf">
                                <i class="far fa-file-pdf padded"></i>Flyer</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
