{% extends "layout.njk" %}
{% block title %}Volunteer Opportunities{% endblock %}
{% block content %}
    <div id="body" class="container-fluid">
        <div class="row header">
            <h1 class="text-center">Parish Volunteer Opportunities</h1>
            <br>
            <p class="text-center">If you would like to sign up for any of the following ministries, please contact the
                parish office
                at 507.452.4770 or <a href="mailto:info@cathedralwinona.org">info@cathedralwinona.org</a>
            </p>
            <br>
        </div>
        <div class="row">
            <div class="col-md-2">
                <ul id="sectionNav" class="nav nav-pills nav-stacked">
                    <li id="overviewTab" role="presentation" class="active">
                        <a onclick="setSection('overview')">Overview</a>
                    </li>
                    <li id="liturgyTab" role="presentation">
                        <a onclick="setSection('liturgy')">Liturgical Ministries</a></li>

                    <li id="musicTab" role="presentation">
                        <a onclick="setSection('music')">Music Ministries</a></li>

                    <li id="faithFormationTab" role="presentation">
                        <a onclick="setSection('faithFormation')">Faith Formation</a></li>

                    <li id="faithEnrichmentTab" role="presentation">
                        <a onclick="setSection('faithEnrichment')">Faith Enrichment</a></li>

                    <li id="communityTab" role="presentation">
                        <a onclick="setSection('community')">Community Building</a></li>

                    <li id="socialJusticeTab" role="presentation">
                        <a onclick="setSection('socialJustice')">Social Justice</a></li>

                    <li id="facilitiesTab" role="presentation">
                        <a onclick="setSection('facilities')">Office, Facilities, &amp; Support</a></li>

                    <li id="councilsTab" role="presentation">
                        <a onclick="setSection('councils')">Parish Councils &amp; Committees</a></li>

                    <li id="organizationsTab" role="presentation">
                        <a onclick="setSection('organizations')">Catholic Organizations</a></li>

                </ul>
            </div>
            <div id='sectionParent' class="col-md-8">
                <div id="overview" class="jumbotron text-center">
                    <p>Heavenly Father, stir in my soul the desire to renew my faith and deepen my relationship with
                        your
                        Son, Our Lord Jesus Christ, so that I might truly believe in your love. Pour out your Spirit, so
                        that
                        I might be strengthened to go forth and witness to the Gospel in my everyday life through my
                        words
                        and
                        actions.
                        <br><br>
                        God, our Father, I pray that through the Holy Spirit I might hear your call to deepen my faith,
                        grow
                        in
                        confidence to proclaim the Gospel, and boldly witness how I have been won over by Christ.
                        <br><br>
                        Amen.
                    </p>
                </div>
                <div id="liturgy">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="jumbotron text-center">
                                    <p>
                                        EMULATE CHRIST’S MINISTRY OF SERVICE
                                        <br>Bring together the diverse population of our parish membership to
                                        participate in and enhance the liturgical experience for everyone. Liturgical
                                        Ministers’ hospitality and
                                        gracious acceptance of others will contribute to their own spiritual growth and
                                        enhance the spiritual
                                        growth of others. Our liturgical celebrations, enriched by the service of these
                                        ministers, will deepen
                                        the faith and sense of community for all. We are Christ’s hands and feet – the
                                        Body of Christ. Lay
                                        people who place their time and talent at the service of the liturgical assembly
                                        are people who are
                                        serious about living out their baptismal right and responsibility to worship.
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Sacristans</h3>
                                <p>Prepare the sacred vessels and linens
                                    needed for the liturgy and clean and
                                    put away all items afterwards.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Ushers</h3>
                                <p>Ushers foster an atmosphere of
                                    reverence and order by aiding with
                                    seating, offertory collection, and
                                    distributing bulletins. You are perfect
                                    for this ministry if you enjoy knowing
                                    everyone and love to smile.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Extraordinary Ministers of the Eucharist</h3>
                                <p>Assist the priest and deacon in the
                                    distribution of the precious Body and
                                    Blood of Christ at Mass. Must be a
                                    confirmed parishioner.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Lectors</h3>
                                <p>Proclaim the Word of God at Mass.
                                    Enliven the hearts of hearers through
                                    your proclamation of the Scriptures.
                                    Must be a confirmed parishioner.
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <h3>Altar Servers</h3>
                                <p>Open to youth, 4th grade and older
                                    AND their parents, or other adults.
                                    Assist the priest with specific duties,
                                    in a reverent and prayerful manner, at
                                    weekend masses, daily masses,
                                    funerals and special liturgies. A great
                                    family ministry!</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Gift Bearers</h3>
                                <p>Present the gifts of bread and wine for
                                    the celebration of the Eucharist at
                                    weekend and special liturgies.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <h3>Children’s Liturgy of the Word</h3>
                                <p>Children ages 4 through 2nd grade
                                    gather with their teachers to hear the
                                    Word of God in an age appropriate
                                    setting. They rejoin the congregation
                                    at offertory time. Lesson books are
                                    provided for the teacher and aide.
                                    This is a great opportunity for adults
                                    and high school youth. Time
                                    commitment is for one year, one
                                    Sunday per month at the 10:30 AM
                                    Mass.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Altar Linens</h3>
                                <p>Wash and iron purificators and other
                                    altar linens used during Mass.
                                    Training provided.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <h3>Church Environment Team
                                </h3>
                                <p>Our church décor/environment
                                    incorporates beauty and liturgical
                                    meaning. This team creates a
                                    welcoming and seasonal sacred
                                    space. Some tasks include tending
                                    fresh flowers, assembling and
                                    arranging seasonal décor.</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div id="music">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="jumbotron text-center">
                                    <p>
                                        MAKE A JOYFUL NOISE UNTO THE LORD!
                                        <br>Our Music Ministers at the Cathedral are those individuals or small
                                        ensembles whose primary purpose is to lead and support the assembly in prayer
                                        and music by inviting
                                        and
                                        engaging the assembly without dominating or diminishing their active
                                        participation. This group of
                                        individuals is committed to leading music at weekend and other special
                                        Liturgies, uniting the
                                        assembly
                                        through prayer and song and sharing in the Eucharistic celebration.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Adult Choir</h3>
                                <p>This is a choir for men and women
                                    of high school age and older. The
                                    Adult Choir sings a variety of
                                    music in traditional and
                                    contemporary styles for
                                    approximately two 10:30 AM
                                    Masses per month, as well as
                                    providing music for special
                                    liturgies during Christmas and
                                    Holy Week, and at diocesan
                                    events. Rehearsals are 7:00-8:00
                                    PM on Wednesdays during the
                                    academic year.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Children’s Choir</h3>
                                <p>This group sings for Mass
                                    approximately once per month
                                    during the academic year.
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Cherubs</h3>
                                <p>Grades 2 &amp; 3. This group
                                    rehearses after school from 2:15-
                                    3:15 PM on Thursdays.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <h3>Choristers</h3>
                                <p>Grades 4 through 6. Thus group
                                    rehearses after school from 2:15-
                                    3:15 PM on Wednesdays.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Handbell Ringers - “Bells Angels”</h3>
                                <p>This group provides
                                    accompaniment during the festival
                                    seasons and meets at a mutually
                                    convenient time (usually
                                    Thursdays at 7:00 PM).
                                </p>
                            </div>
                            <div class="col-md-6">
                                <h3>Cantors</h3>
                                <p>These adults and young people
                                    lead the singing for the Eucharistic
                                    liturgy - including some solo
                                    singing - at weekend, holy day,
                                    and festival Masses throughout
                                    the year.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Instrumentalists</h3>
                                <p>Instrumental accompaniment of many
                                    types is used from time to time during
                                    Mass and at other liturgical events.</p>
                            </div>
                        </div>

                    </div>


                </div>
                <div id="faithFormation">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="jumbotron text-center">
                                    <p>
                                        Choose either quiet
                                        reflection to look within
                                        yourself and connect
                                        with Christ or join in
                                        group prayer or faith
                                        sharing.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Catechists</h3>
                                <p>Help children of all ages get excited
                                    about their faith! Join a team of
                                    catechists who teach the Catholic Faith
                                    to children grades 1-9. Age appropriate
                                    materials for each class are provided.
                                    Lesson plans can also be provided
                                    upon request. Classroom aides are
                                    also needed. Classes are held at St.
                                    Casimir.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>RCIA</h3>
                                <p>The Rite of Christian Initiation of Adults
                                    is a beautiful journey and celebration
                                    of initiation into our Catholic
                                    community of faith. Prepare and
                                    welcome our brothers and sisters who
                                    are seeking baptism in the Catholic
                                    Church, or full communion with the
                                    Catholic tradition through the
                                    Profession of Faith, reception of the
                                    Eucharist and Confirmation
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Mentoring Engaged Couples</h3>
                                <p>Strengthen your marriage as you guide
                                    engaged couples through their time of
                                    preparation. You will mentor one or
                                    two couples a year. Mentor couples
                                    are also asked to help with Pre-Cana
                                    classes in Winona one to two
                                    weekends per year.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Adult Faith Formation Team</h3>
                                <p>Be a part of this exciting ministry which
                                    nourishes us in our faith for engaged,
                                    life-long learning. Get involved in Bible
                                    Studies, faith-based Movie Nights,
                                    Book Discussion Groups, Lending
                                    Library, Faith Sharing Groups, or
                                    Retreats.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3>ENDOW: Educating on the Nature
                                    and Dignity of Women</h3>
                                <p>Discover the fullness of our faith
                                    through studying what the Church has
                                    written on our unique role as women
                                    made in the image of God. Study
                                    groups last 8-10 weeks and are scheduled at various times.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <h3>Youth Discipleship</h3>
                                <p>Our parish is renewing our ministry to
                                    high schoolers by organizing small
                                    youth groups. These groups are
                                    facilitated by volunteer mentors. There
                                    are three openings in this foundational
                                    ministry to our youth:
                                </p>
                                <h4>1) Small Group Member</h4>
                                <p>
                                    Small groups welcome middle and
                                    high school age youth who would like
                                    to grow in their relationship with Jesus
                                    by getting together with a trusted peer
                                    group. You will have the chance to
                                    share your faith and discuss issues
                                    that are important to you.
                                </p>
                                <h4>2) Host Home</h4>
                                <p>
                                    If you love to smile when someone
                                    walks into the room and are
                                    comfortable opening up your home,
                                    consider providing a comfortable
                                    meeting place for a small group for 90
                                    minutes every other week. Providing a
                                    simple snack is appreciated.
                                </p>
                                <h4>3) Mentor</h4>
                                <p>
                                    If you love to listen and enjoy helping
                                    youth develop in their faith, this is a
                                    great ministry for you! Work directly
                                    with a small group of youth in a team
                                    of 1-2 mentors. All materials are
                                    provided by the parish.</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div id="faithEnrichment">
                    <div class="container-fluid">

                        <div class="row">
                            <div class="col-md-6">
                                <h3>Adoration</h3>
                                <p>Come spend one hour per week with
                                    Jesus. Take some much needed
                                    time to retreat from the daily grind,
                                    to pray, and to get recharged by the
                                    Lord. Consider signing up for one
                                    hour of adoration once a week.
                                    Jesus is calling you!</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Prayer Chain</h3>
                                <p>If you would like to intentionally pray
                                    for parishioners and their loved ones
                                    who are experiencing a difficult time,
                                    this ministry is for you: be an
                                    ambassador of prayer!</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Prayer Group</h3>
                                <p>A group is forming to meet weekly in
                                    the sanctuary, spending time with
                                    the Lord in adoration, praise,
                                    intercessory prayer, Evening Prayer,
                                    Lectio Divina, and other forms of
                                    traditional prayer. All are welcome.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Newman Center</h3>
                                <p>The Newman Center evangelizes
                                    and serves young adults at Winona
                                    State University. Activities at the
                                    Newman Center include community
                                    nights every Thursday followed by
                                    Mass at 9:00 PM, retreats, bible
                                    study groups, a spring break mission
                                    trip, opportunities for community
                                    service, and much more. The
                                    Newman Center building is open 7
                                    days a week from 8:00 AM to 10:00
                                    PM. Come and see us!
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Soli Deo Gloria (Winona Area Catholic Young Adults)</h3>
                                <p>Young adults are welcome to join in
                                    fellowship the second Thursday of
                                    every month for Gospel and Game
                                    Night. Additional events are held
                                    throughout the month. Check us out
                                    on <a href="https://www.facebook.com/groups/1554652278102038/">Facebook</a>.
                                </p>
                            </div>
                            <div class="col-md-6">
                                <h3>Families in Faith</h3>
                                <p>A parish-based gathering of Catholic
                                    families who come together to
                                    enliven their faith and foster a
                                    Catholic culture. Families enjoy
                                    activities, fellowship, prayer and
                                    special feast day celebrations. Join
                                    us during the school year on
                                    Tuesdays from 3:30-5:00 PM at
                                    Cathedral.</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div id="community">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Welcome Committee</h3>
                                <p>Foster a rich Christian community with
                                    the Welcome Committee as they visit
                                    new parishioners and host a Welcome
                                    Dinner for new parishioners once a
                                    year.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>CathedralFest</h3>
                                <p>Join the dynamic team that organizes
                                    this engaging community-building
                                    event for the Cathedral parish. Opportunities
                                    are available for the Steering
                                    Committee as well as Fest volunteers.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Donuts and Coffee</h3>
                                <p>Servers are needed to help with this
                                    ministry of hospitality after both
                                    Masses each Sunday. A welcoming
                                    smile is the only requirement. There is
                                    minimal set-up and clean-up. Groups
                                    and families welcome.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Elizabeth Ministry</h3>
                                <p>This ministry aims to support women in
                                    their fertile years by celebrating the gift
                                    of each child conceived and born, and
                                    mourning each miscarriage, abortion,
                                    stillbirth and infant or child death, as
                                    well as encouragement during infertility
                                    and adoption.</p>
                                <a class="link-button" href="./elizabeth-ministry.pdf"><span
                                        class="far fa-book-reader"></span>
                                    Flyer</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Reception Volunteers</h3>
                                <p>Receptions are held throughout the
                                    year for special liturgies and funerals.
                                    Help welcome visitors and families with
                                    a warm smile and facilitate the sharing
                                    of a meal.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Bakers</h3>
                                <p>Prepare a yummy dessert in your own
                                    kitchen and bring it to the parish for
                                    events or funeral luncheons.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Cathedral Quilters</h3>
                                <p>This group sews together and ties
                                    quilts for tCathedralFest and also
                                    makes baby quilts to welcome those
                                    newly baptized at the Cathedral. No
                                    experience necessary (Seriously!).
                                    Come as often as you can.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Young at Heart</h3>
                                <p>This is a monthly gathering for senior
                                    citizens of the Winona Catholic community.
                                    Seniors meet for 12:10 PM Mass
                                    the first Thursday of every month, followed
                                    by a catered meal in Holy Family
                                    Hall that includes a program or activity.
                                    Reservations are requested for the
                                    luncheon. Cost is $3.00, but no one is
                                    turned away because of inability to pay.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>YAH Planning Committee</h3>
                                <p>Put your creative juices to work and help
                                    plan programs and activities for Young at
                                    Heart. You can also get involved by
                                    making coffee, and by setting and decorating
                                    tables for the monthly gatherings.</p>
                            </div>
                            <div class="col-md-12 text-center">
                                <h3>Outreach to Homebound</h3>
                                <p>You are invited to participate in a wonderful
                                    ministry of prayer and presence to
                                    those who through age and ailment are
                                    unable to join the parish community at
                                    Mass or other events.</p>
                                <h4>1) Communion Ministry
                                </h4>
                                <p>Extend the care and support of the parish
                                    community to those who are unable
                                    to attend Mass due to illness or disability.
                                    Bring Communion to a group of Catholic
                                    residents at a senior citizen housing facility
                                    or at a homebound parishioner’s
                                    residence.</p>
                                <h4>2) Callista Court</h4>
                                <p>Join Callista Court residents for prayer,
                                    conversation, and a delicious treat every
                                    second Friday of the month at 2:30 PM.</p>
                                <h4>3) St. Anne’s</h4>
                                <p>For parish residents at St. Anne’s, the
                                    monthly social gathering is held on the
                                    third Wednesday of the month at 2:00
                                    PM. Those involved in this outreach help
                                    to bring residents to and from their
                                    rooms to the dining area, serve refreshments,
                                    and visit with the residents.</p>
                                <h4>4) Rosary at Lake Winona Manor</h4>
                                <p>Come pray the Holy Rosary with our
                                    parishioners at Lake Winona Manner on
                                    Fridays at 10:45am.
                                </p>
                            </div>
                        </div>
                    </div>


                </div>
                <div id="socialJustice">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <blockquote class="jumbotron text-center">
                                    <p>
                                        Amen, I say to you, whatever you did for one of these least brothers of mine,
                                        you did for me.
                                        <br>Matthew 26:40
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Home Delivered Meals</h3>
                                <p>Help minister to our wider community
                                    by delivering meals to the homebound
                                    in Winona. Meals are provided.
                                    Commitment is one day a week for a month.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Hearts for Life, Marriage &amp; Religious
                                    Liberty</h3>
                                <p>Are embracing God’s design for life
                                    and marriage and promoting religious
                                    liberty priorities for you? If so, you are
                                    welcome to be a part of this group
                                    which follows the four objectives set by
                                    the United States Council of Catholic
                                    Bishops: Public Information &amp;
                                    Education, Pastoral Care, Public
                                    Policy, and Prayer &amp; Worship.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12m text-center">
                                <h3>Habitat for Humanity</h3>
                                <p>An Ecumenical Christian ministry which
                                    provides simple and affordable housing
                                    for low income families. Various
                                    volunteer opportunities include:</p>
                                <h4>1) Jobsite Construction</h4>
                                <p>Painting, framing, flooring are a few
                                    examples of the hands-on work you
                                    can do on a team of volunteers. No
                                    experience necessary; you will work
                                    under the direction of Habitat jobsite
                                    construction manager to construct.</p>
                                <h4>2) Restore Volunteer</h4>
                                <p>Help keep usable materials out of
                                    landfills by helping at the Restore!
                                    Check in donated items, and assist
                                    customers with purchased items.</p>
                                <h4>3) Providing Snacks &amp; Lunch</h4>
                                <p>Prepare a snack or lunch for volunteer
                                    groups working at a jobsite. Usually
                                    involves preparation and delivery for
                                    groups of 12-16 people.</p>
                                <h4>4) Administrative Support</h4>
                                <p>Periodic tasks involving addressing
                                    envelopes or data entry.</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div id="facilities">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Money Counters</h3>
                                <p>Work in teams of 3-4 to count and record
                                    money from collections. Money Counters
                                    complete a detailed deposit worksheet.
                                    Experience working with adding
                                    machines and spreadsheets are helpful
                                    but not necessary.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Social Media &amp; Website Support</h3>
                                <p>Use your creativity and tech savvy skills
                                    to engage others in parish life digitally by
                                    keeping the community up to date about
                                    what is happening at the Cathedral.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Church Cleaners</h3>
                                <p>Participate in the blessed ministry of
                                    cleaning the house of the Lord. Tasks
                                    include vacuuming, dusting, and general
                                    tidying of the main body of the church
                                    and the entryways. Sign up for one or
                                    several times a year. Groups and families
                                    welcome.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Adopt-A-Garden Ministry</h3>
                                <p>Praise the Lord for the goodness of His
                                    creation by tending a garden or
                                    flowerbed around the Cathedral. Some of
                                    the areas can easily be taken care of by
                                    one person, while others may need a
                                    group of people to maintain them. Some
                                    areas will require regular weekly or
                                    monthly maintenance, others only require
                                    maintenance once or twice a season. If
                                    you would be interested in this ministry,
                                    please sign up and we will let you pick
                                    your garden to care for at your
                                    convenience for the season.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Angels Everywhere Store</h3>
                                <p>Serve the Cathedral parish and the wider
                                    community by volunteering at our
                                    Catholic gift shop. Substitutes are
                                    needed to fill in occasionally for regularly
                                    scheduled volunteers.
                                    Saturday Evening at 4:00 until
                                    5:15 PM Mass and reopened after Mass
                                    for approximately 1/2 hour.
                                    Sunday Mornings: After the
                                    7:00 Mass until about 8:00 OR from
                                    10:00 until 10:30 Mass and after Mass
                                    until noon.</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div id="councils">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <h3><a href="/volunteer/pastoral-council">Pastoral Council</a></h3>
                                <p>The Pastoral Council is viewed as the
                                    unifying structure within the parish
                                    which guides the liturgical, social,
                                    ecumenical, educational, and
                                    administrative activities of the parish,
                                    along with any other aspects of parish
                                    life which contribute to the living out of
                                    the Gospel. The Council acts as a
                                    forum to provide communication
                                    between the parishioners, committees,
                                    the pastor and the staff. Council
                                    members serve a 3 year term and
                                    meet monthly.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Finance Council</h3>
                                <p>The Finance Council considers and
                                    makes recommendations concerning
                                    parish finances. They work within the
                                    approved parish budget to supervise
                                    spending that helps reach the physical
                                    and spiritual needs of the church.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Parish Life Committee</h3>
                                <p>Join in the rewarding service of
                                    engaging parishioners to experience
                                    growth in faith and fellowship that will
                                    encourage participation and
                                    connection in all areas of parish life.
                                    Committee meets monthly.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Building and Grounds Committee</h3>
                                <p>Provides long-range planning and goal
                                    setting for the parish. They help
                                    manage any parish “work days” and
                                    individual volunteer activities. They
                                    also provide parishioner input to the
                                    Parish Councils concerning facility
                                    related issues.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Social Justice Committee</h3>
                                <p>This committee invites all parishioners
                                    to proclaim the Good News through
                                    active participation in programs that
                                    serve those in need. Join us in
                                    promoting and educating on Catholic
                                    Social Teachings, so that we may
                                    shape a society more respectful of
                                    human life and dignity, and more
                                    committed to justice and peace.
                                    Committee meets monthly.</p>
                            </div>
                            <div class="col-md-6">
                                <h3>Liturgy Committee</h3>
                                <p>The Liturgy Committee is comprised of
                                    leaders from the groups involved in
                                    ministries for Mass. This committee is
                                    organized by the Director of Liturgy &amp;
                                    Music.</p>
                            </div>
                        </div>
                    </div>


                </div>
                <div id="organizations">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="images/ministries/kofc.png"
                                     class="img img-responsive padded pull-left"/>
                                <h3>Knights of Columbus</h3>
                                <p>Men’s service organization focused on
                                    charity, fraternity, patriotism, and the
                                    Catholic faith. This group is involved in
                                    charitable works, especially for youth.
                                    Meetings are held the second Tuesday
                                    of the month. Any Catholic man age 18
                                    and older is welcome to join.</p>
                            </div>
                            <div class="col-md-6">
                                <img src="images/ministries/serra.gif"
                                     class="img img-responsive padded pull-left"/>
                                <h3>Serra Club</h3>
                                <p>Volunteer organization with 3 main
                                    purposes: To pray for and promote
                                    vocations to the priesthood and
                                    religious life, to support our current
                                    priests and religious, and to advance
                                    the spiritual life of its members. The
                                    Serra Club meets on the third Monday
                                    of each month at St. Casimir Church,
                                    starting with dinner at 5:30 PM with
                                    program to follow. A holy hour is held
                                    on the first Thursday of every month at
                                    5:00 PM at Cathedral’s Adoration
                                    Chapel.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <img src="images/ministries/teamsofourlady.jpg"
                                     class="img img-responsive padded pull-left"/>
                                <h3>Teams of Our Lady</h3>
                                <p>Married couples are invited to join a
                                    small group of other couples for
                                    spiritual growth, faith sharing, and
                                    support in your vocation of marriage.
                                    Couples in each group share a potluck
                                    meal monthly, followed by faith
                                    sharing.</p>
                            </div>
                            <div class="col-md-6">
                                <img src="images/ministries/catholicdaughters.gif"
                                     class="img img-responsive padded pull-left"/>
                                <h3>Catholic Daughters</h3>
                                <p>Women’s service organization
                                    committed to a circle of love that
                                    encompasses youth, legislation,
                                    education, spirituality, leadership, and
                                    life. Meetings are held the second
                                    Monday of each month at 6:30 PM in
                                    Holy Family Hall.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <img src="images/sacred-heart-window.png" class="img img-responsive">
            </div>
        </div>
    </div>
    <script type="text/javascript">
        function setSection(id) {
            $('#sectionParent').find('> div').hide();
            $('#sectionNav').find('li').removeClass('active');
            $('#' + id).show();
            $('#' + id + 'Tab').addClass('active');
        }

        $(function(){
            setSection('overview');
        })
    </script>
    <style type="text/css">
        li a {
            cursor: pointer;
        }
    </style>
{% endblock %}
