{% extends "layout.njk" %}
{% block title %}Jesus | Bible Studies | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
    <div id="body">
        <div class="container">
            <ol class="breadcrumb">
                <li><a>Formation</a></li>
                <li><a href="..">Adult Formation</a></li>
                <li class="active">Jesus</li>
            </ol>
            <div class="row text-center">
                <div class="col-sm-12">
                    <h1>Jesus: The Way, The Truth, and The Life</h1>
                    <p>By Marcellino D’Ambrosio, Jeff Cavins, and Edward Sri</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"><img class="img img-responsive" src="./book.png"/></div>
                <div class="col-sm-7">
                    <p>
                        The marvelous treasures of the Catholic Faith—
                        the Eucharist, Mary, the saints, and the Creed—are
                        all centered on a single figure: Jesus Christ. Jesus is
                        more than a historical or theological figure. He is
                        our savior, our redeemer, our Lord, and our God.
                        While many of us know a lot about him already,
                        how well can we say that we really know him?
                    </p>
                    <p>
                        <strong>Jesus: The Way, the Truth, and the Life</strong> is a new and
                        fresh look at Jesus—who he is, what he is really
                        like, what he taught, and what he did for our
                        salvation. This encounter with Christ will inspire
                        and empower you to center your entire life around
                        him as you come to know and love him in an ever
                        deeper and more intimate way.
                    </p>
                    <div>
                        <h3>You Will Learn:</h3>
                        <ul>
                            <li>Who Jesus is and how he answers the longings of the human heart.</li>
                            <li>Why Jesus was baptized.</li>
                            <li>The significance of the Transfiguration.</li>
                            <li>The essentials of Christology explained in a way the average Catholic can understand.</li>
                            <li>The mystery and meaning of the Resurrection, Christ’s triumph over death.</li>
                            <li>The nature of Jesus’ mission and the redemption of humanity.</li>
                            <li>Our role today as Catholics in the Great Commission.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://forms.gle/D1KEEukzy3CnAVkM7">
                                <i class="far fa-pencil padded"></i>Register Online
                            </a>
                            <br/>
                            <small>Registration and payment are due by March 30th</small>
                        </li>
                        <li class="list-group-item">
                            <a href="flyer.pdf"><i class="far fa-file-pdf padded"></i>Flyer</a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://www.youtube.com/watch?v=RLU2nhFweGI" target="_blank">
                                <i class="fab fa-youtube"></i> Promotional Video</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>Schedule</h3>
                    <p>10 Sessions: April 7 - June 10, 2020</p>
                    <p>Cathedral: <strong>Tuesday 6:30 pm - 8:30 pm</strong></p>
                    <p>Cathedral: <strong>Wednesday 9:30 am - 11:30 am</strong></p>
                    <p>
                        Or choose <strong>Home Study</strong>! Contact us to learn more!
                    </p>
                    <p><strong>Cost:</strong> $32 (make checks payable to "Cathedral of the Sacred Heart")</p>
                    <p><strong>Contact:</strong> Donna 507-454-1296</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
