{% extends "layout.njk" %}
{% block title %}Bishops of Winona-Rochester{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <ol class="breadcrumb">
            <li><a>About</a></li>
            <li><a href="/about/history">History</a></li>
            <li class="active">Bishops of Winona-Rochester</li>
        </ol>
        <div class="row">
            <div class="col-sm-12"><h1 class="text-center">Past Bishops of Winona-Rochester</h1></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul>
                    <li><a href="http://www.catholic-hierarchy.org/bishop/bcotter.html">Joseph Bernard Cotter † (29 Nov
                        1889 Appointed - 28 Jun 1909 Died)</a></li>
                    <li><a href="http://www.catholic-hierarchy.org/bishop/bheffron.html">Patrick Richard Heffron † (4
                        Mar 1910 Appointed - 23 Nov 1927 Died)</a></li>
                    <li><a href="http://www.catholic-hierarchy.org/bishop/bkellyf.html">Francis Martin Kelly † (10 Feb
                        1928 Appointed - 17 Oct 1949 Resigned)</a></li>
                    <li><a href="http://www.catholic-hierarchy.org/bishop/bfitea.html">Edward Aloysius Fitzgerald † (20
                        Oct 1949 Appointed - 8 Jan 1969 Retired)</a></li>
                    <li><a href="http://www.catholic-hierarchy.org/bishop/bwatters.html">Loras Joseph Watters † (8 Jan
                        1969 Appointed - 14 Oct 1986 Retired)</a></li>
                    <li><a href="http://www.catholic-hierarchy.org/bishop/bvlazny.html">John George Vlazny (19 May 1987
                        Appointed - 28 Oct 1997 Appointed, Archbishop of Portland, Oregon)</a></li>
                    <li><a href="http://www.catholic-hierarchy.org/bishop/bharrbj.html">Bernard Joseph Harrington (4 Nov
                        1998 Appointed - 7 May 2009 Retired)</a></li>
                    <li><a href="http://www.catholic-hierarchy.org/bishop/bquin.html">John Michael Quinn (7 May 2009
                        Succeeded - )</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
