{% extends "layout.njk" %}
{% block title %}History of the Cathedral{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <ol class="breadcrumb">
            <li><a>About</a></li>
            <li><a href="/about/history">History</a></li>
            <li class="active">Cathedral</li>
        </ol>
        <div class="row">
            <div class="col-sm-12"><h1 class="text-center">History of the Cathedral of the Sacred Heart</h1></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="images/cathedral_exterior.jpg" 
                     class="img img-responsive img-thumbnail margin-right pull-left">
                <p>The Cathedral of the Sacred Heart was founded in 1952, combining two parishes, St. Thomas and St. Joseph</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
