{% extends "layout.njk" %}
{% block title %}History{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><h1 class="text-center">Parish History</h1></div>
        </div>
    </div>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-2">
                <img src="images/cathedral_exterior.jpg" class="img img-responsive img-thumbnail">
            </div>
            <div class="col-md-10">
                <h3><a href="cathedral.html">History of the Cathedral of the Sacred Heart</a></h3>
                <p>Cathedral of the Sacred Heart was founded in 1952, combining two parishes, St. Thomas and St. Joseph,
                    whose history goes back 150 years.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <img src="/images/st_casimir_exterior.jpg" class="img img-responsive img-thumbnail"
                     alt="St. Casimir Exterior">
            </div>
            <div class="col-md-10">
                <h3><a href="stCasimir.html">History of St. Casimir Parish</a></h3>
                <p>Saint Casimir was opened on Christmas Day 1905. The people who founded St. Casimir were previously
                    members of St. Stanislaus Kostka, a Polish language parish established in Winona on April 2nd, 1871,
                    and located at the corner of Carimona and E 4th Street.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <img src="images/st_thomas_interior.jpg" class="img img-responsive img-thumbnail"
                     alt="St. Thomas Interior"/>
            </div>
            <div class="col-md-10">
                <h3><a href="stThomas.html">History of St. Thomas Parish</a></h3>
                <p>Fr. Lette had all the Catholics of the county under his charge from 1864 until 1868. During his
                    administration the parish bought the land, and the foundation of a new church dedicated to St.
                    Thomas was laid. In June 1871, Fr. Cotter assumed the pastoral care of St. Thomas parish. He
                    remained as pastor until December 27th, 1889, when he was consecrated the first bishop of
                    Winona.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <img src="images/st_joseph_interior.jpg" class="img img-responsive img-thumbnail"
                     alt="St. Joseph Interior"/>
            </div>
            <div class="col-md-10">
                <h3><a href="stJoseph.html">History of St. Joseph Parish</a></h3>
                <p>The number of Catholics of German nationality in Winona was small, but there was a desire among them
                    to have a church, and especially a priest, who would continue to instruct them and their children in
                    their native language. On August 15th, 1858, this small group elected a committee to secure a site
                    for a church somehwere between Main and Kansas Streets and Second Street and Broadway.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <img src="images/records_page.jpg" class="img img-responsive img-thumbnail">
            </div>
            <div class="col-md-10">
                <h3><a href="records.html">Sacramental Records</a></h3>
                <p>We are happy to assist you with your records, whether for sacramental needs or genealogical searches.
                    All records in the Catholic Church are kept with the church of Baptism. At this time we do not have
                    a computer database of records prior to 2007 so all searches must be done by looking through each
                    record individually. Searches may take up to 2 weeks.</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-2">
                <img src="images/dow_seal.png" class="img img-responsive" alt="Diocesan Crest">
            </div>
            <div class="col-md-10">
                <h3><a href="bishops.html">Past Bishops</a></h3>
                <p>Starting with Bishop Cotter in 1871, 9 bishops have served our diocese up to the present day.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
