{% extends "layout.njk" %}
{% block title %}Sacramental Records{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <ol class="breadcrumb">
            <li><a>About</a></li>
            <li><a href="/about/history">History</a></li>
            <li class="active">Records</li>
        </ol>
        <div class="row">
            <div class="col-sm-12"><h1 class="text-center">Sacramental Records Policies</h1></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><h3>Sacramental Needs</h3>
                <p>If you are looking for your records for a sacrament, please contact the parish office at (507)
                    452-4770 or info@cathedralwinona.org with your name, date of birth, and what you need the record
                    for. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12"><h3>Genealogical Searches </h3>
                <p>Due to privacy regulations and record deterioration we do not allow anyone to see the original books
                    or records. We are not allowed to photocopy the original record. </p>
                <p>Due to various circumstances, our early records are limited. In your request, you will need to
                    specify the parish and type of record you are looking for. If you are unsure which parish you are
                    looking for, try reading through the history of the parishes.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6"><h3>St. Thomas (1870-1951) </h3>
                <p>Baptismal 1888-1951</p>
                <p>First Communion 1931-1952</p>
                <p>Confirmation 1925-1952</p>
                <p>Wedding 1870-1952</p>
                <p>Death 1925-1952</p></div>
            <div class="col-lg-3 col-md-6"><h3>St. Joseph (1862-1952)</h3>
                <p>Baptismal 1873-1952</p>
                <p>First Communion 1886-1952</p>
                <p>Confirmation 1892-1952</p>
                <p>Wedding 1862-1952</p>
                <p>Death 1927-1952</p></div>
            <div class="col-lg-3 col-md-6"><h3>St. Casimir (1901- Today)</h3>
                <p>Baptismal 1902-Today</p>
                <p>First Communion 1902-Today</p>
                <p>Confirmation 1902-Today</p>
                <p>Wedding 1902-Today</p>
                <p>Death 1902-Today</p>
                <p>Records for Casimir Parishioners prior to 1901 will probably be at St. Stanislaus Kostka.</p></div>
            <div class="col-lg-3 col-md-6"><h3>Cathedral of the Sacred Heart (1951-Today)</h3>
                <p>Baptismal 1952-Today</p>
                <p>First Communion 1952-Today</p>
                <p>Confirmation 1952-Today</p>
                <p>Wedding 1952-Today</p>
                <p>Death 1952-Today</p>
                <p>Records for Cathedral parishioners prior to 1952 will probably be under St. Thomas or St. Joseph.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
