{% extends "layout.njk" %}
{% block title %}History of St. Casimir{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <ol class="breadcrumb">
            <li><a>About</a></li>
            <li><a href="/about/history">History</a></li>
            <li class="active">St. Casimir</li>
        </ol>
        <div class="row">
            <div class="col-sm-12"><h1 class="text-center">History of St. Casimir Parish</h1></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><img src="/images/st_casimir_exterior.jpg"
                                        class="img img-responsive img-thumbnail margin-right pull-left">
                <p>Saint Casimir parish was opened on Christmas Day 1905. The people who founded Saint Casimir were
                    previously members of Saint Stanislaus Kostka, a Polish language parish established in Winona on
                    April 2, 1871, and located at the corner of Carimona and East Fourth Street. Early in 1905, Saint
                    Stanislaus started a drive for funds to construct a new and larger school building. At this time
                    there was a feeling among the people of Polish origin in the west end of the city that they should
                    have a church and school of their own rather than contribute to a new building in the east end.
                    Several meetings were held in Albert Wieczorek’s woodworking shop at 514 West Fourth Street. These
                    meetings resulted in organizing a group of about seventy prospective members of a new parish. Three
                    possible building sites were selected, and three men were delegated to call on the Most Reverend
                    Joseph B. Cotter, Bishop of Winona, to seek his approval and advice. The three men so delegated on
                    this committee were Mr. Albert Wieczorek, a cabinet maker, Mr. Frank Jaszewski, a city policeman,
                    and Mr. Frank Zabrocki, a wagon maker. Mr. Zabrocki stated that the only reason he and the other two
                    men were chosen to call on the Bishop was because the group thought that the three of them had the
                    best ability in speaking the English language. These men called on Bishop Cotter in March of 1905
                    and were received with favorable consideration. The Bishop told them that their plan looked very
                    good to him and that he thought there should have been a Catholic Church and school in the west end
                    of Winona long before this.</p>
                <p>In regard to location, the men described their three choices: one at the corner of West Fourth and
                    Olmstead Streets, another on West Fifth Street near Ewing Street, and the third at West Broadway and
                    Ewing Street. The Bishop stated that he liked the location farthest south and on the sunny side of
                    the street. This location was selected and is the present site of St. Casimir’s. The location of
                    Saint Casimir, at the corner of West Broadway and Ewing Street, is the nearest to the original
                    location of the first Catholic church in Winona, the original Saint Thomas, which was built in 1857
                    on Dakota Street between West Mark and West Belleview Streets. Three other Catholic churches were
                    founded at locations east of Center Street, but none were established west of Center Street in
                    Winona until Saint Casimir in 1905.</p>
                <p>The Bishop also told the committee that before they should proceed any further with their plans for
                    their new parish he would speak to their pastor, the Rev. James W. J. Pacholski. The Bishop spoke to
                    Father Pacholski immediately. From the pulpit of St. Stanislaus Church the following Sunday, Father
                    Pacholski announced that he had been informed that some of the west end members wanted to build a
                    church and school of their own in the west end. He mentioned that he doubted their ability to do so,
                    and, speaking in Polish, he said, “Just because they have cooked up a kettle of soup out there in
                    the west end, they think we are going to eat it.” Father Pacholski was highly respected and dearly
                    loved by the Polish people of Winona in the west end, as well as in the east end. If he had said he
                    was opposed to building Saint Casimir’s, he would have had a good reason for it and the committee
                    and program would have been willingly dissolved. If he had said directly that he was in favor of
                    building Saint Casimir’s, he would have found himself with the entire burden of all the details and
                    fundraising involved. However, his speech about the “kettle of soup” was given in such a manner that
                    it was a challenge to the people of the west end. It worked to bring about an apologetic, unified
                    appeal from the people of the west end for assistance from him in establishing a church and school
                    that would be more convenient for them. In a very short time, Father Pacholski recognized the
                    sincerity and unity of his parishioners in the west end to the extent that he assumed the
                    responsibilities as pastor of Saint Casimir for their building project, which was to construct a
                    combination church and school building. This was an additional burden for the priest who had his
                    duties as pastor of the large Saint Stanislaus parish, where he was also in the midst of a new
                    building program.</p>
                <p>In acquiring the property for St. Casimir, John Newman, Jr. had been delegated by a committee to make
                    the purchase of the building site at West Broadway and Ewing Street, which consisted of four lots
                    with two houses. Mr. Newman bought the four lots in March of 1905 and sold them to the church in May
                    of the same year at a price that was fifty dollars less than his cost. Seven laymen served on the
                    original building committee. These men were: Michael Drazkowski, Sr., Frank Kustelski, Paul
                    Losinski, John Newman, Jr., Ignatius Szuminski, Peter Szuminski, and Albert Wieczorek.</p>
                <p>To help the financial situation for the people of the west end, Father Pacholski withdrew west end
                    contributions to the new Saint Stanislaus school project and transferred them to the Saint Casimir
                    project. Property was purchased in May of 1905, the cornerstone was laid in July of 1905, the
                    combination church and school building was completed, and Father Pacholski celebrated the first Mass
                    in this building on Christmas Day 1905. Every year after that, when health and circumstances
                    permitted, Father Pacholski, who later became the Right Reverend Monsignor Pacholski, returned to
                    Saint Casimir and honored them by leading the annual Forty Hour Devotion held on the Feast of Saint
                    Casimir (March 4).</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
