{% extends "layout.njk" %}
{% block title %}History of St. Thomas{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <ol class="breadcrumb">
            <li><a>About</a></li>
            <li><a href="/about/history">History</a></li>
            <li class="active">St. Thomas</li>
        </ol>
        <div class="row">
            <div class="col-sm-12"><h1 class="text-center">History of St. Thomas Parish</h1></div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12"><img src="images/st_thomas_interior.jpg"
                                        class="img img-responsive img-thumbnail margin-right pull-left">
                <p>The first Catholics, of Irish and German descent, came to Winona about 1854. As early as 1841,
                    however, the Rt. Rev Monsignor Augustine Ravoux made the site of Winona a tarrying point on one of
                    his journeys from Saint Paul to Prairie du Chien.</p>
                <p>In 1856 Bishop Cretin, the first Bishop of Minnesota and the Dakotas, visited Winona and offered the
                    first Mass of which there is record at the home of Mr. and Mrs. Thomas Urell, located on Johnson
                    Street between Seventh and Eighth streets. At that first Mass all the Catholics of the vicinity met
                    and the first parish of the city was organized. In 1857, the Rev. Thomas Murray was appointed to
                    visit and attend to the wants of the new mission. Father Murray selected two lots on Dakota Street
                    between Mark and Belleview Streets, upon which he intended to erect a two story frame building to
                    serve as a church and temporary parochial residence. This practical design was altered and the
                    church erected for church purposes only. It was dedicated to Saint Thomas the Apostle. The Rev.
                    Anatole Oster, later the Vicar General, visited the struggling little mission and succeeded in 1857
                    in completing the church.</p>
                <p>In July, 1858, the Rev. Michael Prendergast became the first resident Catholic pastor of Winona.
                    Since the original site of the church was found to be too far south and west for the majority
                    parishioners, a sixty foot frontage on Wabasha Street, near Center Street, was purchased on July 29,
                    1861. During the moving of the church to the center of the city, which occurred from April to June
                    1864, the parishioners attended the newly erected Saint Joseph's Church (1862).</p>
                <p>On the departure of Father Pendergast early in 1864, Father Morris attended to the missions in
                    Southeastern Minnesota until the appointment of the Rev. William Lette as the Pastor of St. Thomas
                    church in April of that year. Father Lette had all the Catholics of the county under his charge
                    until the month of June 1868. During his administration, the parish bought the land between the
                    church and Center Street and the foundation of a new church dedicated to St. Thomas was laid. The
                    Rev. Alois Plut, on succeeding him, completed the major portion of the church, whose cornerstone was
                    placed by the Rt. Rev. Thomas L. Grace, O.P., Bishop of Saint Paul on August 28, 1870.</p>
                <p>In June 1871, the Rev. Joseph B. Cotter, by the appointment of Bishop Grace, assumed the pastoral
                    care of Saint Thomas parish, to which the missions at Saint Charles, Hart, Lewiston and Ridgeway
                    were attached shortly after. He remained in charge until December 27, 1889, the date on which he was
                    consecrated the first bishop of Winona.</p>
                <p>During the administration of Father Cotter, much progress was made. Harassing debts were paid; the
                    church was finally completed; additional lots on which the old convent and rectory once stood were
                    acquired in October 1873; a new parochial school was built on Wabasha Street to the west of the
                    church; the parish was thoroughly organized.</p>
                <p>When Bishop Cotter was appointed the first Bishop of the Diocese of Winona-Rochester (then known
                    as the Diocese of Winona), the Rev. P. J. Gallagher
                    was named the pastor of the parish. From this time on, the church was called Pro- Cathedral of Saint
                    Thomas. The Rev. W. E. F. Griffin, who succeeded Father Gallagher in December 1911, remained until
                    August 1913, when he was named the first rector of Saint Mary's College. The Rev. John P. Sherman
                    became the pastor on October 12, 1913. On the occasion of the golden jubilee of the building of the
                    church structure, he completely renovated the parish buildings. In the early part of 1925 the Rev.
                    Louis D. O' Day succeeded Father Sherman. During his pastorate a new school was built and a Sisters'
                    convent purchased at 63 East Wabasha Street. The old school and convent was demolished.</p>
                <p>In 1924, Monsignor O' Day was succeeded by the Rt. Rev. Msgr. Robert E. Jennings, who remained as
                    pastor until April 1, 1951. He then became the pastor of Saint Mary's parish, Winona. At the same
                    time, the Rt. Rev. Msgr. Joseph F. Hale was named the Administrator of the parish of Saint
                    Thomas.</p>
                <p>As the years passed, the inadequacy of St. Thomas Pro-Cathedral to meet the needs of the growing
                    Diocese of Winona-Rochester became more and more apparent.</p>
                <p>In 1944, a fund drive was begun to raise money for the construction of a new cathedral for the
                    diocese. As the fund drive neared completion, discussion began for the merger of St. Thomas and St.
                    Joseph parishes to form the Cathedral parish. On June 15, 1950 the Vatican granted a petition to
                    unite the parishes, only four blocks apart, but long separated by language and nationality.</p>
                <p>At the time of its' union with the parish of Saint Joseph to form the parish of the Cathedral of the
                    Sacred Heart, the parish of Saint Thomas numbered on its' rolls about six hundred households or
                    approximately twenty-four hundred souls. The members of the parish corporation at the time of the
                    union were following: the Most Reverend Edward A. Fitzgeral, D. D., President; the Rt. Rev. Joseph
                    F. Hale, V. G., Vice-president; Mr. Joseph, Secretary; Mr. Leo P. Curran, Treasurer.</p>
                <p>The following are the priests who served as assistants in the parish of Saint Thomas; Rv. James
                    Durward; Rev. John J. Sullivan; Rev. Joseph Mattson; Rev. John Cummiskey; Rev. Joseph Mangan; Rev.
                    Daniel J. Lavery; Rev. Michael E. O' Connor; Rev. H. Sherlock; Rev. Francis T. English; Rev. A
                    Dittman; Rev. John A. Parkinson; Rev. Humphrey F. Collins; Rev. John B. Gregoire; Rev. James
                    Donovan; Rev. J. E. Scullen; Rev. Leo M. Devlin; Rev. D. A. Cunningham; Rev. R. E. Jennings; Rev.
                    Paul H. Hodapp; Rev. Joseph E. Davy; Rev. Hilary L. McNallan; Rev. Michael J. Kuisle; Rev. Harold B.
                    Mountain; Rev. Cyril P. Peterson; Rev. William D. Curtis; Rev. Sherlock P. Weir; Rev. Peter Coleman;
                    Rev. Edward Mountain; Rev. Emmett F. Tighe.</p></div>
        </div>
    </div>
</div>
{% endblock %}
