{% extends "layout.njk" %}
{% block title %}Prophets | Bible Studies | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
    <div id="body">
        <div class="container">
            <ol class="breadcrumb">
                <li><a>Formation</a></li>
                <li><a href="..">Adult Formation</a></li>
                <li class="active">Prophets</li>
            </ol>
            <div class="row text-center">
                <div class="col-sm-12">
                    <h1>Prophets</h1>
                    <p>Discover the messages the prophets have for you. By Thomas Smith</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"><img class="img img-responsive" src="./dvd.png"/></div>
                <div class="col-sm-7">
                    <p>
                        If God’s people had stayed close to him, there might have been no need for the prophets. God
                        sent prophets at critical times to call the people back to their covenant relationship. Prophets
                        proclaimed the consequences of continued sin, called people to repentance, and declared God’s
                        faithful love. They also spoke of the future to shed light on current events and to reveal God’s
                        plans and purposes.
                    </p>
                    <p>
                        In this study discover who the prophets were, their role during their time, and the meaning of
                        their messages for our own time. Discover how God is constantly calling you to a deeper
                        relationship, as well as the ways you are called to be the voice of God to others.
                    </p>
                </div>
                <div class="col-sm-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://forms.gle/LPYUYRRQh1Fsu3nk9">
                                <i class="far fa-pencil padded"></i>Register Online
                            </a>
                            <br/>
                            <small>Registration and payment are due by August 26th</small>
                        </li>
                        <li class="list-group-item">
                            <a href="registration.pdf"><i class="far fa-file-pdf padded"></i>Paper Registration</a>
                            <br/>
                            <small>Print and return to either the Cathedral or St. Mary's Parish Office.</small>
                        </li>
                        <li class="list-group-item"><a href="flyer.pdf">
                                <i class="far fa-file-pdf padded"></i>Flyer</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>Schedule</h3>
                    <p>10 Sessions:September 17th - November 19th</p>
                    <p>Cathedral: <strong>Tuesday Morning 9:30 am - 11:30 am</strong></p>
                    <p>Cathedral: <strong>Tuesday Evening 6:30 pm - 8:30 pm</strong></p>
                    <p>
                        Or choose <strong>Home Study</strong>! Contact us to learn more!
                    </p>
                    <p><strong>Cost:</strong> $30 (make checks payable to "Cathedral")</p>
                    <p><strong>Contact:</strong> Donna 507-454-1296</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
