{% extends "layout.njk" %}
{% block title %}Welcome to the Cathedral of the Sacred Heart and St. Casimir Parish{% endblock %}
{% block content %}
    <!--TODO finish wiring in data-->
    <div id="body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="text-center">Welcome to the Cathedral of the Sacred Heart and St. Casimir Parish!</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    {% include 'partials/readings.njk' %}
                    <div>
                        <h3><i class="far fa-tv-music"></i> FORMED</h3>
                        <p>
                            Did you know our parish has a FORMED subscription? Just go to 
                            <a href="https://formed.org/signup">formed.org/signup</a> and find "Cathedral of the Sacred Heart"
                            to register. It is free for you! You can have access to thousands of books, audio talks,
                            movies and studies. Catholic content for all ages!
                        </p>
                        <br/>
                    </div>
                    <div>
                        <div id="bulletinAlt">
                            <h3><i class="far fa-bullhorn"></i> Weekly Bulletin</h3>
                            <a href="https://www.parishesonline.com/find/cathedral-of-sacred-heart-st-casimir-st-marys">Click
                                here</a> to view the parish bulletin.
                        </div>
                        <script
                            src="https://widget.parishesonline.com/publications?id=dd15fc98d1a83f5e1bcecf3f378a1269c00de96f"
                            onload="$('#bulletinAlt').hide();"></script>
                    </div>
                </div>
                <div class="col-md-6">
                    {% include 'partials/blog-headlines.njk' %}
                </div>
                <div class="col-md-3 col-xs-pull-0">
                    <h3><i class="far fa-clock"></i> Office Hours</h3>
                    <div class="padded">
                        Monday - Friday 8:30am to 11:30am. Use Main Street entrance only for office visits.
                    </div>
                    <h3><i class="far fa-clock"></i> Mass Schedule</h3>
                    <div class="alert alert-warning">
                        By <a href="/covid-dispensation-decree-2.pdf">decree</a> of Bishop John Quinn, the obligation to 
                        attend Mass on Sunday and Holy Days of Obligation is suspended until further notice.
                    </div>
                    <div class="alert alert-info">
                        <img alt="" src="/about/images/sacred-heart.svg" height="40" width="40" 
                             style="margin-top:5px; margin-left: -8px;" class="img img-responsive pull-left"/>
                        Cathedral Parishoners: Please read the 
                        <a href="/opening-letter-cathedral.pdf">reopening letter</a> and
                        <a href="/public-mass-guidelines-cathedral.pdf">parish guidelines</a>.
                    </div>
                    <div class="alert alert-info">
                        <img alt="" src="/about/images/st-casimir.svg" height="40" width="40" 
                             style="margin-top:5px; margin-left: -8px;" class="img img-responsive pull-left"/>
                        St. Casimir Parishoners: Please read the 
                        <a href="/opening-letter-casimir.pdf">reopening letter</a> and
                        <a href="/public-mass-guidelines-casimir.pdf">parish guidelines</a>.
                    </div>
                    <strong>Weekend Masses</strong>
                    <br/>
                    <span class="text-muted">Register by noon Friday.</span>
                    {% for m in masses.weekend %}
                        <div class="padded">
                            <div>
                                <span>{{ m.day }} {{ m.time }} ({{ m.location }})</span>
                                {% if (m.registrationLink) %}
                                    <br/><a class="btn btn-primary btn-sm" target="_blank" href="{{ m.registrationLink }}" style="margin-left:20px;">Register Online</a>
                                {% endif %}
                                <span class="text-muted" style="padding-left:20px;"><br/>{{ m.note }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    <strong>Weekday Masses</strong>
                    <br/>
                    <span class="text-muted">Register by noon the day before (noon Friday for Monday)</span>
                    <br/>
                    <a class="btn btn-primary btn-sm" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSejkGLk3eK9diSA4eV8R2-MiR9kr5gQOCsugGVkr__ODElRIA/viewform?usp=sf_link">Register Online</a>
                     {% for m in masses.weekday %}
                        <div class="padded">
                            <div>
                                <span>{{ m.day }} {{ m.time }} ({{ m.location }})</span>
                                <span class="text-muted" style="padding-left:20px;"><br/>{{ m.note }}</span>
                            </div>
                        </div>
                    {% endfor %}
                    
                    <strong>Online Mass Options:</strong>
                    <div class="padded">
                        <a href="https://www.facebook.com/pg/cathedralwinona/videos/" target="_blank">
                            <i class="fab fa-facebook"></i> Cathedral Livestream (Weekly)
                        </a>
                        <br/>
                        <a href="https://www.youtube.com/watch?v=9hogr5ZPIb0&list=PLg6k5UmSDlchlF4W97AfSWphn1ZO6wFAK">
                            <i class="fab fa-youtube"></i> Bishop Barron (Word on Fire, Daily)
                        </a>
                        <br/>
                        <a href="https://www.ewtn.com/tv/watch-live">
                            <i class="far fa-globe-americas"></i> EWTN
                        </a>
                        <br/>&emsp;Daily 7:00am, 11:00am, 6:00pm, 11:00pm
                        <br/>&emsp;Sunday 7:00am, 11:00am 11:00pm
                        <br/>
                        <a href="https://www.youtube.com/user/DioceseofWinona/videos?view=0&sort=dd&shelf_id=1">
                            <i class="fab fa-youtube"></i> Diocese of Winona-Rochester TV Mass (Weekly)
                        </a>
                        <br/>
                        <a href="https://www.youtube.com/playlist?list=PLeXS0cAkuTPpXwZmWt2sdR4voVwcCvvOq">
                            <i class="fab fa-youtube"></i> Fr. Mike Schmitz (Ascension Presents, Weekly)
                        </a>
                    </div>
                    <h3><i class="far fa-clock"></i> Confession Schedule</h3>
                    <div class="alert alert-info">Confessions will be heard <strong>Saturdays from 2-4pm</strong> at the Cathedral unless noted otherwise.</div>
                    <div class="alert alert-info">For other times, please call the office at 507-452-4770 to make an appointment.</div>
{#                    {% for m in confessions %}#}
{#                        <div class="padded">#}
{#                            <div class="">#}
{#                                <span>{{ m.day }} {{ m.time }} ({{ m.location }})</span>#}
{#                                <span class="text-muted" style="padding-left:20px;"><br/>{{ m.note }}</span>#}
{#                            </div>#}
{#                        </div>#}
{#                    {% endfor %}#}

                    <h3><i class="far fa-link"></i> Quick Links</h3>
                    <div class="list-group">
                        <a class="list-group-item" href="https://www.dowr.org">Diocese of Winona-Rochester</a>
                        <a class="list-group-item" href="https://mncatholic.org/">MN Catholic Conference</a>
                        <a class="list-group-item" href="https://w2.vatican.va/content/vatican/en.html">The Vatican</a>
                        <a class="list-group-item" href="http://www.usccb.org">US Conference of Catholic Bishops
                            (USCCB)</a>
                        <a class="list-group-item" href="https://www.wacs1.org/">Winona Catholic Schools (WACS)</a>
                        <a class="list-group-item" href="https://www.cotterschools.org">Cotter Catholic High School</a>
                        <a class="list-group-item" href="https://www.ccsomn.org/">Catholic Charities</a>
                        <a class="list-group-item" href="https://www.facebook.com/WSUNEWMAN/">WSU Newman Center</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
