{% extends "layout.njk" %}
{% block title %}Youth Activites{% endblock %}
{% block content %}
    <div id="body">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <h1>Youth Activities</h1>
                    <p class="italic">“We will tell the next generation the praiseworthy deeds of the LORD. His power,
                        and
                        the wonders He has done.”
                        Psalm 78:5</p>
                </div>
                <div class="col-sm-3">
                    <img class="img img-responsive pull-right" src="images/wcc_ym_logo.jpg"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-sm-offset-0 col-md-offset-1 col-md-5">
                    <h2 class="text-center">Alpha Youth</h2>
                    <img class="img img-responsive pull-left padded" src="/formation/adults/learnmore-alpha-logo.svg" style="width: 80px;" />
                    <p>
                        Alpha is a chance to explore life and the Christian faith in a friendly, open and informal environment.
                    </p>
                    <p>
                        Alpha meets <strong>Wednesdays 6:00-7:30pm</strong> at the Cathedral.
                    </p>
                    <a href="https://docs.google.com/forms/d/e/1FAIpQLSdco6ywDvfnsPVMc512cXuF1mY1IhT44ObIKlSudlzkGvkK0Q/viewform">Registration Form</a>
                </div>
                <div class="col-sm-12  col-md-5">
                    <h2 class="text-center">Footwashers & Firestarters</h2>
                    <img class="img img-responsive pull-left padded" src="/images/footwashers.png" style="width: 80px;" />
                    <p>
                        Local service projects, song, fun, and worship.  
                    </p>
                    <p>                       
                        <strong>August 6-8, 2020</strong> at the Cathedral.
                    </p>
                    <br/>
                    <p>In order to make this amazing event happen for our youth, we need the support of caring adults.  See how you can be involved!</p>
                    <div class="text-center">
                        <a href="/static/footwashers.pdf">Flyer</a>
                        &nbsp;|&nbsp;
                        <a href="https://giving.parishsoft.com/App/Form/14458e4f-de9f-43fa-9d41-023d6b08083a">Registration Form</a>
                        &nbsp;|&nbsp;
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLScSPyettvRACb-4wBT5grxT2IM-OhFpwtYsasJ2e9Gv8_MjwA/viewform?usp=sf_link">Parent Volunteer Interest Form</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr/>
                <h2 class="text-center">Ongoing Activities</h2>
                <div class="col-sm-6 col-md-4">
                    <h3>Youth Movie Night</h3>
                    <strong>What:</strong> Faith-centered films for youth, followed by facilitated discussion.
                    <br/><strong>Date(s) of Event/Theme:</strong> Second Friday of each month throughout the year. Check
                    bulletin for details and monthly movie.
                    <br/><strong>Registration/Deadline:</strong> None necessary, just show up. Always free!
                    <br/><strong>Ages:</strong> 5th grade and up
                    <br/><strong>Where:</strong> Cathedral of the Sacred Heart, St. Thomas room or St. Augustine room
                    <br/><strong>What kids are saying:</strong> "Youth Movie Night is a great opportunity to meet with
                    friends, enjoy a good movie, and become a little bit of a Catholic movie critic. So, come hang out,
                    eat
                    some popcorn, and have a good faith-filled and enjoyable time." - John Paul, age 14
                </div>
                <div class="col-sm-6 col-md-4">
                    <h3><a href="prayer/corJesu">Cor Jesu</a></h3>
                    <img src="images/cor_jesu.jpg" class="img img-responsive pull-left padded"/>
                    <strong>What:</strong> Eucharistic Adoration, Confession, praise and worship planned and facilitated
                    by
                    - and for - the young and not-so-young alike.
                    <br/><strong>Date(s):</strong> First Friday of each month, September thru May, 7-9 p.m. Information
                    in
                    Cathedral bulletin.
                    <br/><strong>Registration/Deadline:</strong> No need to register, free of charge.
                    <br/><strong>Ages:</strong> All ages are welcome!
                    <br/><strong>Where:</strong> Cathedral of the Sacred Heart
                    <br/><strong>How:</strong> Sign up for reminder emails at <a href="mailto:corjesuwinona@gmail.com">corjesuwinona@gmail.com</a>,
                    or like the <a href="https://www.facebook.com/WinonaCorJesu/" target="_blank">Facebook page</a>
                    <br/><strong>What kids are saying:</strong> "Cor Jesu is peaceful and nice. It's a chance to go to
                    confession and afterwards you always feel happy." - David, 14
                </div>
                <div class="col-sm-6 col-md-4">
                    <h3>YDisciple</h3>
                    <strong>What: </strong><span>YDisciple is an apprenticeship for Christian life. It provides a format for high schoolers to come together as a small group with adult mentors every other week. YDisciple offers training and well-crafted leader guides to support the mentors. Through discussion, streaming video and other tools, youth learn more about and grow in their Catholic Faith. There are separate groups for boys and girls; groups meet in a host family’s home with two group leaders (not the hosts).</span>
                    <br/><strong>Date(s): </strong><span>TMeeting days and times are determined by each group’s leadership. They are set according to that group’s availability.</span>
                    <br/><strong>Registration/Deadline: </strong><span>No cost.  Contact the office to find out when the next group starts.</span>
                    <br/><strong>Ages: </strong><span>8th-12th grade</span>
                    <br/><strong>Where: </strong><span>Host homes</span>
                    <br/><span>As new small groups form, we are in need of host families to open their home to a group and provide refreshment, and leaders who are willing to facilitate. Please contact the parish office if you are able to serve this ministry in either role.</span>
                </div>
            </div>
	    <div class="row">
		<div class="col-sm-12 col-md-6 col-lg-4">
                    <h3><a href="http://www.dow.org/Departments/Youth-and-Young-Adults">Diocesan Youth Events</a></h3>
                    <p>
			The Diocese of Winona-Rochester provides opportunities for youth to attend various camps and
			conferences,
			including Camp Summit, Steubenville, NCYC, and more!
                    </p>
		</div>
	    </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2>A Note On Fundraising…</h2>
                    <p>
                        There are opportunities to raise money for all the offered events that you want to attend. Youth
                        may
                        start individual “funds” with the diocese of Winona-Rochester at any age and grow their accounts
                        as they –
                        and
                        their faith - grow. Fundraisers are organized city-wide, and include the annual Cookie
                        Extravaganza and
                        Family Fun Walk. They are wonderful ways meet other youth, serve the community, learn more about
                        our
                        faith and have fun. Please talk to your parish Faith Formation Coordinator for more details.
                    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-12">
                    <h2>For More Information</h2>
                    <p>&#10003; Watch the bulletin for more details.</p>
                    <p>&#10003; Contact your parish Faith Formation director.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-4 col-md-offset-2">
                    <strong>St. Mary’s Parish</strong>
                    <p>Julie Fitzgerald</p>
                    <p><span class="far fa-phone"></span> 507-452-5656</p>
                    <p><a href="mailto:jfitzgerald@wacs1.org"><span class="far fa-envelope"></span>
                            jfitzgerald@wacs1.org</a></p>
                </div>
                <div class="col-sm-4">
                    <strong>Cathedral/St. Casimir</strong>
                    <p>Anna Therneau</p>
                    <p><span class="far fa-phone"></span> 507-452-4770</p>
                    <p><a href="mailto:atherneau@cathedralwinona.org"><span class="far fa-envelope"></span>
                            atherneau@cathedralwinona.org</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
