{% extends "layout.njk" %}
{% block title %}Dignity | Bible Studies | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
    <div class="body">
        <div class="container">
            <ol class="breadcrumb">
                <li><a>Formation</a></li>
                <li><a href="..">Adult Formation</a></li>
                <li class="active">Dignity</li>
            </ol>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12">
                    <h1>The Life and Dignity of the Human Person</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"><img class="img img-responsive" src="./image.jpg"/></div>
                <div class="col-sm-7">
                    <p>
                        This seven-week bible study will focus on a different element of this
                        core theme each week: Abortion & End of Life, Poverty, Peace,
                        Immigration, Overcoming Racism, and the Death Penalty. Facilitated by
                        Tom Parlin, Director of Parish Social Ministry, of Catholic Charities.
                    </p>
                </div>
                <div class="col-sm-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://forms.gle/tie5owVTj8bfM92z7">
                                <i class="far fa-pencil padded"></i>Register Online
                            </a>
                        </li>
                        <li class="list-group-item"><a href="flyer.pdf">
                                <i class="far fa-file-pdf padded"></i>Flyer</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>Schedule</h3>
                    <p>Cathedral (St. Thomas Room): Thursdays 8-9am</p>
                    <p>7 Sessions: 6/20/2019 - 8/8/2019</p>
                    <p>No cost</p>
                    <p><strong>Contact:</strong> Anna Therneau <a href="mailto:atherneau@cathedralwinona.org">atherneau@cathedralwinona.org</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
