{% extends "layout.njk" %}
{% block title %}Oremus | Bible Studies | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <ol class="breadcrumb">
            <li><a>Formation</a></li>
            <li><a href="..">Adult Formation</a></li>
            <li class="active">Oremus</li>
        </ol>
    </div>
    <div class="container container-fluid">
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-xs-12">
                <img class="img img-responsive center-block" src="header.jpg"
                     alt="Oremus - A Guide to Catholic Prayer"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-4 hidden-xs">
                <img class="img img-responsive" src="pic1.jpg" alt="praying"/>
            </div>
            <div class="col-sm-10 col-md-8">
                <h2>Say Your Prayers</h2>
                <p>
                    Do you find it easy to pray? Is prayer an integral part of your day? Do you hear God’s voice in your
                    daily life, and know how to respond accordingly?
                    For many of us, the answer to these questions is, “no.” We all desire an intimate relationship with God.
                    But, since learning to “say our prayers” as children, we never moved beyond rote recitation to an
                    authentic conversation with God.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 col-md-8">
                <h2>Not Just For Mystics</h2>
                <p>In Scripture we read of profound interactions people have with God. We hear of Saints who seemed to have
                    a direct line to Him their entire lives. But most of the time we feel like this is far beyond our reach.
                    After all, we’re not prophets, and certainly not (yet) Saints!
                    For most of us prayer becomes a source of frustration as we struggle to calm our minds and find even a
                    few minutes to set aside to pray. In our busy lives prayer is seen as a luxury, when in reality it is at
                    the foundation of a healthy spiritual life.
                    The good news is you can overcome your difficulties with prayer, and it is easier than you might
                    think.</p>
            </div>
            <div class="col-sm-2 col-md-4 hidden-xs">
                <img class="img img-responsive" src="pic2.png" alt="books"/>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2 col-md-4">
                <img class="img img-responsive" src="pic3.jpg" alt="Missal"/>
            </div>
            <div class="col-sm-10 col-md-8">
                <h2><span class="italic">Oremus</span> - Let Us Pray</h2>
                <p>The Oremus study program teaches you the essentials of an effective and fruitful prayer life. Over the
                    course of eight weeks you will discover how God speaks to you, even in the smallest encounters.
                    Following the Tradition of the Catholic Church and the wisdom of the saints, you will learn how to
                    express yourself to God in prayer, and how to hear his voice.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h2>In <span class="italic">Oremus</span> You Will:</h2>
                <ul>
                    <li>Become aware of God’s presence in your life</li>
                    <li>Discover the simple yet profound steps of Catholic prayer</li>
                    <li>Learn how to respond to God and express yourself in prayer</li>
                    <li>Discover how to hear God’s voice in Scripture, in your heart, and in ordinary moments.</li>
                    <li>Learn how to overcome frustrations, distractions, and dryness in prayer.</li>
                    <li>See that desolation and consolation are a normal part of everyone’s walk with God.</li>
                    <li>Grow in your relationship with God and those around you.</li>
                    <li>and more...</li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rAwbyvdsYfc?rel=0" frameborder="0"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 center-block text-center">
                <h2>How <span class="italic">Oremus</span> is Taught - A Proven Approach</h2>
                <img class="img img-responsive" src="pic4.png"/>
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px;">
            <div class="col-sm-4">
                <h3>Home Preparation</h3>
                <p>​Participants are provided with specific scripture passages to pray with each day. They will also keep a
                    journal (provided in the workbook) of their prayer experiences.
                </p>
            </div>
            <div class="col-sm-4">
                <h3>DVD Presentation</h3>
                <p>​Fr. Mark Toups presents a powerful lesson on prayer and offers spiritual direction and encouragement to
                    participants.
                </p>
            </div>
            <div class="col-sm-4">
                <h3>Group Discussion</h3>
                <p>Participants will discuss the DVD presentation and share insights and experiences from their previous
                    weeks' prayer.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-2">
                <img class="img img-responsive" src="pic5.jpg"/>
            </div>
            <div class="col-md-6 col-sm-8">
                <p>﻿Classes begin <strong>September 16th</strong> and run through <strong>November 13th</strong> and will
                    be offered in two schedules:</p>
                <ul>
                    <li>Monday evenings (6:30-8:30 p.m.)</li>
                    <li>Wednesday mornings (9:30-11:30 a.m.)</li>
                </ul>
                <p>
                    <strong>
                        Registration will end on August 26th
                    </strong>
                </p>
                <p>
                    <strong>Cost:</strong> The binder of study materials is $18.00/binder. Binders are required for
                    participation in the
                    study.
                    Partial scholarships are offered on a limited basis.
                </p>
                <p>Home study option is available.</p>
                <p><strong>Contact:</strong> Donna 507-454-1296</p>
            </div>
            <div class="col-md-3 col-sm-2">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="https://forms.gle/SDEiE8eW46iyehnn9">
                            <i class="far fa-pencil padded"></i>Register Online
                        </a>
                        <br/>
                        <small>Registration and payment are due by March 18th</small>
                    </li>
                    <li class="list-group-item">
                        <a href="registration.pdf"><i class="far fa-file-pdf padded"></i>Paper Registration</a>
                        <br/>
                        <small>Print and return to either the Cathedral or St. Mary's Parish Office.</small>
                    </li>
                    <li class="list-group-item"><a href="flyer.pdf">
                            <i class="far fa-file-pdf padded"></i>Flyer</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
