{% extends "layout.njk" %}
{% block title %}Adult Faith Formation | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
    <div id="body">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>Adult Faith Formation</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p>
                        We are called to have a deep and personal relationship with Jesus Christ. By reading,
                        meditating,
                        discussing and sharing His Word we can build and enrich our relationship with Him.
                    </p>
                    <p>
                        Our Adult Faith Formation opportunities include Bible Studies, Book Discussions, Movie Nights,
                        Prayer Groups, Guest
                        Speakers and Retreats. Our Bible Studies include a Study Guide, Small Group Discussions and DVD
                        presentations. We offer Studies year round with both daytime and evening options. If you would
                        like
                        more information on upcoming studies or have any questions, please
                        <a href="mailto:info@cathedralwinona.org">let us know</a>. All are welcome! Let
                        us learn and grow together!
                    </p>
                </div>
            </div>
	</div>
	<div class="container-fluid">
	    <div class="row">
		<hr/>
		<div class="col-md-6 col-sm-12">
		    <div class="row padded">
			<div class="col-sm-12 text-center">
			    <h2>Current & Upcoming Bible Studies</h2>
			</div>
            </div>
            <div class="row padded">
                <div class="col-sm-2 col-md-3">
                    <img src="jesus/book.png" class="img img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-10 col-md-9">
                    <a href="jesus/"><h2>Jesus: The Way, The Truth, and The Life</h2></a>
                    <span class="italic">April 7th - June 10th, 2020</span>
                    <br/>
                    <br/>
                    <div>
                        Jesus: The Way, the Truth, and the Life is a 10-week video study program and book.
                        Anchored in the life of Christ as presented in the Gospels, this study explores the
                        entirety of Jesus’ life—who he is, what he is really like, what he taught, what he
                        did for our salvation, and what all of this means for us as Catholics today.
                    </div>
                </div>
            </div>
            <div class="row padded">
                <div class="col-sm-2 col-md-3 text-center">
                    <span class="far fa-handshake fa-5x"></span>
                </div>
                <div class="col-sm-10 col-md-9">
                    <a href="solidarity/"><h2>Solidarity: We Are Our Neighbor's Keepers</h2></a>
                    <span class="italic">March 2020</span>
                    <br/>
                    <br/>
                    <div>
                        Tom Parlin, Director of Parish Social Ministry, of Catholic Charities
                        will facilitate a five-week bible study on Solidarity. Each week will
                        focus on a different theme that will enhance your understanding
                        of the rich treasure of wisdom about building a just society and
                        living lives of holiness amidst the challenges of modern society.
                    </div>
                </div>
            </div>
            <div class="row padded">
                <div class="col-sm-2 col-md-3">
                    <img src="worship/image.png" class="img img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-10 col-md-9">
			    <a href="worship/"><h2>Why We Worship: The Biblical Roots of the Mass</h2></a>
			    <span class="italic">January 10th - February 21st, 2020</span>
			    <br/>
			    <br/>
			    <div>
				Many Catholics know what to do at Mass, but not why we do it. Some may be confused by the
				rituals
				and words. Some may think the Mass is just ‘made up.’ Learn what the Bible says about the
				mystery
				and meaning of the Mass.
			    </div>
			</div>
		    </div>
		    <div class="row padded">
			<div class="col-sm-2 col-md-3">
			    <img src="revelation/image.png" class="img img-responsive img-thumbnail"/>
			</div>
			<div class="col-sm-10 col-md-9">
			    <a href="revelation/"><h2>Revelation: The Kingdom Yet To Come</h2></a>
			    <span class="italic">January 14th - March 25th, 2020</span>
			    <br/>
			    <br/>
			    <div>
				Learn what all the mysterious figures and images of Revelation present,
				as well as what will happen during the Second Coming of Christ, what has
				already happened, and what is happening now in salvation history.
				<br/>(Workbook, Discussion, DVD)
			    </div>
			</div>
		    </div>
		</div>
		<div class=" col-md-6 col-sm-12">
		    <h2>Faith Enrichment Opportunities</h2>
		    <div class="row padded">
			<div class="col-sm-2 col-md-3">
			    <img src="tmiy.jpg" class="img img-responsive img-thumbnail"/>
			</div>
			<div class="col-sm-10 col-md-7">
			    <a href="https://tmiy.org"><h2>That Man Is You!</h2></a>
			    <strong>When: </strong><span>Thursday Mornings, 6:00-7:30AM, September - May</span>
			    <br/>
			    <strong>Where: </strong><span>Holy Family Hall</span>
			    <br/><br/>
			    <div>
				That Man is You! honestly addresses the pressures and temptations that men face in our modern culture,
				especially those relating to their roles as husbands and fathers. The program harmonizes current social
				and medical science with the teachings of the Church and the wisdom of the saints to develop the vision
				of man fully alive!
			    </div>
			    <br/>
			    <div>
				The Cathedral's group is now entering its 3rd year of TMIY. Contact Steve Hesse or Kris Kaufman for more
				details, or <a href="https://admin.paradisusdei.org/location_details/cathedral-of-the-sacred-heart-winona"
					       target="_blank" >click here</a> to register.
			    </div>
			</div>
		    </div>
		    <div class="row padded">
			<div class="col-sm-2 col-md-3">
			    <img src="learnmore-alpha-logo.svg" class="img img-responsive img-thumbnail"/>
			</div>
			<div class="col-sm-10 col-md-7">
			    <a href="https://alphausa.org/about"><h2>Alpha</h2></a>
			    <strong>When: </strong><span>Tuesday Evenings 6:30-8:00PM, September 10th - November 19th, 2019 (No class 9/23)</span>
			    <br/>
			    <strong>Where: </strong><span>Holy Family Hall</span>
			    <br/><br/>
			    <div>
				Alpha is a series of sessions exploring the Christian faith, typically run over eleven weeks.
				Each talk looks at a different question around faith and is designed to create conversation.
				Alpha is run all around the globe, and everyone is welcome.
			    </div>
			</div>
		    </div>
		</div>
	    </div>
	    <div class="row padded">
		<div class="col-sm-12">
		    <hr/>
		    <h2>Past Studies</h2>
		</div>
	    </div>
	    <div class="row padded">
		<div class="col-sm-2 col-md-3">
		    <img src="prophets/dvd.png" class="img img-responsive img-thumbnail"/>
		</div>
		<div class="col-sm-10 col-md-9">
		    <a href="prophets/"><h2>The Prophets: Discover the Messages the Prophets Have for You</h2></a>
		    <span class="italic">September 17th - November 19th</span>
		    <br/>
		    <br/>
		    <div>
			Learn how the Prophets speak to us today, shed light on our faith and how their words draw us closer to God.  (Workbook, Discussion, DVD)
		    </div>
		</div>
	    </div>
	    <div class="row padded">
		<div class="col-sm-2 col-md-3">
		    <img src="./oremus/pic5.jpg" class="img img-responsive img-thumbnail"/>
		</div>
		<div class="col-sm-10 col-md-9">
		    <a href="./oremus"><h2>Oremus: A Guide to Catholic Prayer</h2></a>
		    <span class="italic">September 16th - November 13th</span>
		    <br/>
		    <br/>
		    <div>
			Do you find it easy to pray? Is prayer an integral part of your day? Do you hear God’s voice in your daily life, and know how to respond accordingly?
			In Scripture we read of profound interactions people have with God. We hear of Saints who seemed to have a direct line to Him. We may feel this is beyond our reach. We can feel frustrated as we struggle to calm our minds and find even a few minutes to set aside to pray. In our busy lives prayer is seen as a luxury, when in reality it is at the foundation of a healthy spiritual life. The good news is you can overcome these difficulties. It is easier than you might think!  (Workbook, Discussion, DVD) 
		    </div>
		</div>
	    </div>
	    <div class="row padded">
		<div class="col-sm-2 col-md-3">
                    <img src="./dignity/image.jpg" class="img img-responsive img-thumbnail"/>
                </div>
		<div class="col-sm-10 col-md-9">
		    <a href="./dignity"><h2>Dignity: The Life and Dignity of the Human Person</h2></a>
		    <span class="italic">June 20th - August 8th</span>
		    <br/>
		    <br/>
		    <div>
			Each week will focus on a different core theme of Catholic Social Teaching.
		    </div>
		</div>
	    </div>
            <div class="row padded">
                <div class="col-sm-2 col-md-3">
                    <img src="mary/dvd.png" class="img img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-10 col-md-9">
                    <a href="mary/"><h2>Mary: A Biblical Walk With Our Blessed Mother</h2></a>
                    <span class="italic">April 1st - June 5th, 2019</span>
                    <br/>
                    <br/>
                    <div>
                        Filmed on location in the Holy Land, this Study will place you in the midst of the powerful
                        drama of Mary’s earthly life, taking you through her joys and her sorrows. You will learn how
                        she works in our lives today, drawing us ever closer to her divine Son. Seeing Mary in this way
                        will change you forever. It will change the way you pray the Rosary and meditate on the
                        Mysteries. Mary will become a part of your daily life and help you to become more like Christ.
                        (Format: Workbook, Discussion, DVD.)
                    </div>
                </div>
            </div>
            <div class="row padded">
                <div class="col-sm-2 col-md-3">
                    <img src="wildGoose/pic2.jpg" class="img img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-10 col-md-9">
                    <a href="wildGoose/"><h2>The Wild Goose</h2></a>
                    <span class="italic">April 2nd - June 4th, 2019</span>
                    <br/>
                    <br/>
                    <div>
                        The “Wild Goose” was a term the ancient Celts had for the Holy Spirit. If you allow Him, He will
                        lead you to a place of mercy, healing and peace. (Workbook, Discussion, DVDs)
                    </div>
                </div>
            </div>
            <div class="row padded">
                <div class="col-sm-2 col-md-3">
                    <img src="pivotal/image.png" class="img img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-10 col-md-9">
                    <a href="pivotal/"><h2>The Pivotal Players: St. Augustine & St. Benedict</h2></a>
                    <span class="italic">February 12th - March 12th, 2019</span>
                    <br/>
                    <br/>
                    <div>
                        St. Augustine, the Teacher, is possibly the best example of how faith in Christ changed a
                        person. St. Benedict, the Monk, contributed more to saving western Christian culture than anyone
                        else. (Format: Student Workbook, Small Group Discussion, DVD)
                    </div>
                </div>
            </div>
            
            <div class="row padded">
                <div class="col-sm-2 col-md-3">
                    <img src="acts/image.jpg" class="img img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-10 col-md-9">
                    <a href="acts/"><h2>Acts</h2></a>
                    <span class="italic">September 2018 - March 2019</span>
                    <br/>
                    <br/>
                    <div>
                        Learn how the First Christians and the Early Church was enlivened by the Holy Spirit to teach,
                        preach, heal, and restore in the same way that Jesus did on earth. Learn how Christ's Kingdom
                        TODAY is empowered to carry out His work in our world.
                    </div>
                </div>
            </div>
            <div class="row padded">
                <div class="col-sm-2 col-md-3">
                    <img src="corinthians/image.jpg" class="img img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-10 col-md-9">
                    <a href="corinthians/"><h2>1 Corinthians</h2></a>
                    <span class="italic">September 2018 - December 2018</span>
                    <br/>
                    <br/>
                    <div>
                        The early Christians in Corinth had struggles and challenges that were not so different from our
                        own. Learn how St. Paul addressed these struggles.
                    </div>
                </div>
            </div>
            <div class="row padded">
                <div class="col-sm-2 col-md-3">
                    <img src="https://lh4.googleusercontent.com/WzOKrxUCUMkPwgJ1rkwXPHM_pVXFXtbAptlFsMSv5es_6LEWw6vosa8W7z0K0d5VC_93v3AM5g=w1191"
                         class="img img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-10 col-md-9">
                    <a href="https://goo.gl/forms/I2QpOn1pLaqVRodi2"><h2>Catholic Social Teaching</h2></a>
                    <span class="italic">July 17th - September 4th, 2018</span><br/>
                    <span class="italic">9:30-10:30 AM</span><br/>
                    <span class="italic">Cathedral of the Sacred Heart - St. Thomas Room</span><br/>
                    <span class="italic">No Cost</span>
                    <br/>
                    <br/>
                    <div><a href="https://goo.gl/forms/I2QpOn1pLaqVRodi2">Click here</a> to register, or call the parish
                        office
                    </div>
                </div>
            </div>
            <div class="row padded">
                <div class="col-sm-2 col-md-3">
                    <img src="genesis/thumb.png" class="img img-responsive img-thumbnail"/>
                </div>
                <div class="col-sm-10 col-md-9">
                    <a href="genesis/"><h2>Genesis to Jesus</h2></a>
                    <span class="italic">May - June 2018</span>
                    <br/>
                    <br/>
                    <div>"The Bible and the Story of our Salvation" by Scott Hahn</div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="text-center">Other Opportunities</h2>
                    <p class="text-center">Adult formation opportunities happen throughout the year.
                        <a href="https://docs.google.com/forms/d/1yNhsexVOC2duocilWCcZaXC1znfgcCCV_KlqfdsY0OU/viewform">Click
                            here</a>
                        if you would like to be contacted about upcoming opportunities not listed.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
