{% extends "layout.njk" %}
{% block title %}About Cor Jesu{% endblock %}
{% block content %}
    <div class="body">
        <div class="container">
            <ol class="breadcrumb">
                <li><a>Parish Life</a></li>
                <li><a href="/prayer/">Prayer Opportunities</a></li>
                <li><a href="/prayer/corJesu">Cor Jesu</a></li>
                <li class="active">About</li>
            </ol>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <img class="img img-responsive" style="padding-top: 10px" src="images/monstrance.jpg"/>
                </div>
                <div class="col-sm-9">
                    <h2>What is Cor Jesu?</h2>
                    <p>Cor Jesu (Latin for Heart of Jesus) is a time of Eucharistic Adoration and praise and worship for
                        Catholics of all ages, especially young adults. The 2 hour evening begins with solemn exposition
                        of
                        the Blessed Sacrament and a brief Gospel and homily. There is then a time of Adoration with
                        praise
                        and worship music and opportunities to go to Confession. There will be prayers to the Sacred
                        Heart,
                        followed by solemn Benediction. The evening concludes with a time of food and fellowship.

                    </p>
                    <p>The event began in 2006 with Bishop Andrew Cozzens and Mother Mary Clare of the Handmaids of the
                        Heart of Jesus in the St. Mary’s Chapel of St. Paul Seminary in St. Paul, MN. It eventually grew
                        to
                        include other groups, and today the event draws over 300 people and 15 priests every month, and
                        is
                        being replicated in other dioceses around the state.

                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-9">
                    <h2>Why First Fridays?</h2>
                    <p>Cor Jesu takes place on the First Friday of each month because it is a day dedicated to the
                        Sacred
                        Heart of Jesus. Devotion to the Sacred Heart as we know it today started around 1693, in France,
                        when Our Lord appeared to a Visitation nun, St. Margaret Mary Alacoque. In those apparitions,
                        Jesus
                        asked that the first Friday of every month be dedicated to His Sacred Heart, and that the
                        faithful
                        make acts of reparation for sins against His Sacred Heart, and made 12 promises to those who
                        practice and promote this devotion.

                    </p>
                    <p>It is especially fitting celebrating this event here, at the Cathedral of the Sacred Heart.
                        During
                        the period of adoration, we will pray the Litany of the Sacred Heart.

                    </p>
                </div>
                <div class="col-sm-3">
                    <img class="img img-responsive" style="padding-top: 10px" src="images/praying.jpg"/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
