{% extends "layout.njk" %}
{% block title %}Cor Jesu{% endblock %}
{% block content %}
    <style>
        ul.list-group a:hover {
            text-decoration: none;
        }
    </style>
    <div class="body">
        <div class="container">
            <ol class="breadcrumb">
                <li><a>Parish Life</a></li>
                <li><a href="/prayer/">Prayer Opportunities</a></li>
                <li class="active">Cor Jesu</li>
            </ol>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Cor Jesu</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <p>Cor Jesu takes place on First Fridays at the Cathedral of the Sacred Heart, September-May, from
                        7-9PM.</p>
                    <p>Cor Jesu begins at 7pm with Exposition. Adoration is accompanied by music, both instrumental
                        and praise and worship. A number of priests are present to hear the confessions of those who
                        desire
                        to receive the Sacrament of Reconciliation.</p>
                    <p>At approximately 8:30pm Adoration concludes with the Litany of the Sacred Heart and solemn
                        Benediction.</p>
                    <p>Snacks and drinks are available afterward in the gathering space for people to socialize.</p>
                </div>
                <div class="col-lg-6">
                    <img src="images/bishop-quinn.jpg" class="img img-responsive"/>
                    <div class="caption text-center">Bishop Quinn leading Benediction</div>
                    <br/>
                    <br/>
                    <img src="images/church.jpg" class="img img-responsive"/>
                    <br/>
                    <br/>
                    <img src="images/social.jpg" class="img img-responsive"/>
                    <br/>
                    <br/>
                </div>
                <div class="col-lg-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="about.html">
                                <span class="pull-left far fa-info-circle"></span>
                                More About Cor Jesu</a>
                        </li>
                        <li class="list-group-item">

                            <a href="https://groups.google.com/forum/#!forum/winona-cor-jesu-parish-announcements"
                               target="_blank"
                               title="Emails meant for parishes that include flyers and bulletin announcements.">
                                <span class="pull-left far fa-envelope"></span>
                                Subscribe to Parish Emails
                                <small class="text-muted">Includes flyer and bulletin announcements</small>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://groups.google.com/forum/#!forum/winona-cor-jesu-individual-announcements"
                               target="_blank"
                               title="Emails meant for individual people who want email reminders.">
                                <span class="pull-left far fa-envelope-o"></span>
                                Subscribe to Individual Emails
                                <small class="text-muted">Reminder email the week of Cor Jesu</small>
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="https://www.facebook.com/WinonaCorJesu">
                                <span class="pull-left fab fa-facebook"></span>
                                Cor Jesu on Facebook</a>
                        </li>
                    </ul>
                    <h3>2020-2021 Dates</h3>
                    <div class="alert alert-info">
                        Please watch the bulletin and email lists. Due to COVID-19, we don't
                        know when Cor Jesu will resume.
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
