{% extends "layout.njk" %}
{% block title %}Wisdom | Bible Studies | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
    <div id="body">
        <div class="container">
            <ol class="breadcrumb">
                <li><a>Formation</a></li>
                <li><a href="..">Adult Formation</a></li>
                <li class="active">Wisdom</li>
            </ol>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-9">
                    <img class="img img-responsive pull-left" src="image.jpg" alt="DVD Cover"/>
                    <h1>Wisdom</h1>
                    <h2>God's Vision for Your Life</h2>
                    <h3>Jeff Cavins</h3>
                </div>
                <div class="col-sm-3 text-left">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="flyer.pdf">
                                <i class="far fa-book-reader padded"></i> Flyer
                            </a>
                            <br/>
                        </li>
                        <li class="list-group-item">
                            <a href="https://goo.gl/forms/HyPVWoc7QtSU3xoJ3">
                                <i class="far fa-pencil padded"></i>Register Online
                            </a>
                            <br/>
                        </li>
                        <li class="list-group-item">
                            <a href="registration.pdf">
                                <i class="far fa-print padded"></i> Registration Form
                            </a>
                            <br/>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm-12">
                    <h4>Do you wish you had more peace of mind?</h4>
                    <p>This study examines biblical wisdom—Proverbs, Wisdom, Sirach, and Ecclesiastes— as it relates to
                        daily life. You will learn how to seek out sound guidance and increase your sense of peace in
                        navigating life--from friendships to finances, from making decisions to attaining peace of mind,
                        to happiness and well-being, and joy!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <h4>In this study, you will:</h4>
                    <ul>
                        <li>Discover what wisdom is (and what it isn’t!)</li>
                        <li>Learn new habits for increasing wisdom in your daily life</li>
                        <li>Gain confidence, through role models and practice, in living according to God’s vision</li>
                    </ul>
                    <p>(Format: Student Workbook, Small Group Discussion, DVD presentations.)</p>

                    <br/>
                    <h4>Schedule</h4>
                    <p>Cathedral Tues PM 700 – 830 or Wed AM 930 – 1130. 8 Sessions: 01/30 – 03/21.</p>
                    <p>Cost: $23.</p>
                    <p>Deadline: Mon 01/15.</p>
                    <p>Make checks payable to “Cathedral.”</p>
                    <p>Register Online at cascwinona.org or pick up Forms in Cathedral’s Gathering Space & St. Mary’s
                        Commons.</p>
                    <p>Contact: Donna 507-454-1296.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
