{% extends "layout.njk" %}
{% block title %}1 Corinthians | Bible Studies | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
    <div class="body">
        <div class="container">
            <ol class="breadcrumb">
                <li><a>Formation</a></li>
                <li><a href="..">Adult Formation</a></li>
                <li class="active">1 Corinthians</li>
            </ol>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12">
                    <h1>1 Corinthians</h1>
                    <p>"The Church & the Christian Community" by Tim Gray</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"><img class="img img-responsive" src="./image.jpg"/></div>
                <div class="col-sm-7">
                    <p>
                        The conflicts of the early Christians in Corinth are in many ways similar to our struggles today
                        as Christians. With divisions, persecution, and other trials of the faithful, the message of St.
                        Paul to the Corinthians is a much-needed message for our own times. This study explores the key
                        elements that Paul introduced to a new and growing Church--the nature of grace and the Church as
                        the Body of Christ. In addition, he introduced the Corinthian Christians to the most powerful
                        gift of all, the Eucharist.
                    </p>
                    <p>In this study, you will:</p>
                    <ul>
                        <li>Explore St. Paul's strategy for successful evangelization</li>
                        <li>See how to live a Christian life in the midst of a pagan culture</li>
                        <li>Learn how “1 Cor” proves that Christ is truly present in the Eucharist</li>
                        <li>Gain a new vision for seeing the body as a temple of the Holy Spirit</li>
                    </ul>
                    <p>(Format: Student Workbook, Small Group Discussion, DVD presentations.)</p>
                </div>
                <div class="col-sm-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://goo.gl/forms/G70pthOpJMNZFC1k2">
                                <i class="far fa-pencil padded"></i>&nbsp;Register Online
                            </a>
                            <br/>
                            <small>Registration and payment are due by September 10th</small>
                        </li>
                        <li class="list-group-item"><a href="registration.pdf"><i class="far fa-file-pdf padded"></i>Paper
                                Registration</a>
                            <br/>
                            <small>Print and return to either the Cathedral or St. Mary's Parish Office by September
                                10th.
                            </small>
                        </li>
                        <li class="list-group-item"><a href="flyer.pdf">
                                <i class="far fa-file-pdf padded"></i>Flyer</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>Schedule</h3>
                    <p>Cathedral: Monday “Brown Bag” 12:10 - 12:40PM</p>
                    <p>Cathedral: Tuesday 9:30 - 11:30AM</p>
                    <p>Cathedral: Tuesday 7:00 - 8:30PM</p>
                    <p>11 Sessions: September 17th - December 11th</p>
                    <p><strong>Cost:</strong> $27.</p>
                    <p><strong>Deadline:</strong> Mon 9/10.</p>
                    <p>Make checks payable to “Cathedral” Click the link above to register or pick up forms in
                        Cathedral’s Gathering
                        Space & St. Mary’s Commons. </p>
                    <p><strong>Contact:</strong> Donna 507-454-1296</p>
                    <p>(See Poster & Registration Form for New Options: 45 min class & Home Study.)</p>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
