{% extends "layout.njk" %}
{% block title %}Why We Worship | Bible Studies | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
    <div class="body">
        <div class="container">
            <ol class="breadcrumb">
                <li><a>Formation</a></li>
                <li><a href="..">Adult Formation</a></li>
                <li class="active">Why We Worship</li>
            </ol>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12">
                    <h1>Why We Worship</h1>
                    <p>The Biblical Roots of the Mass by Dr. Brant Pitre</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"><img class="img img-responsive" src="./image.png"/></div>
                <div class="col-sm-7">
                    <p>
                        Many Catholics know what to do at Mass, but not why we do it.
                        Some may be confused by the rituals and words. Some may think
                        the Mass is just ‘made up.’ Learn what the Bible says about the
                        mystery and meaning of the Mass.
                    </p>
                    <p>(Format: DVD Presentations & Small Group Discussion - NO workbook, NO homework)</p>
                    <h2>In this study, you will learn:</h2>
                    <ul>
                        <li>Who determines how we worship? God or us?</li>
                        <li>Why were there animal sacrifices?</li>
                        <li>What was the meaning of blood sacrifice?</li>
                        <li>What did The Tabernacle look like and why?</li>
                        <li>Revelation:  What does worship look like in Heaven?</li>
                        <li>What was Passover worship like at the time of Jesus?</li>
                        <li>How did Jesus’ death fulfill sacrifices in the Temple?</li>
                    </ul>
                </div>
                <div class="col-sm-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://forms.gle/YpPuRTn6cG8SWF4W8">
                                <i class="far fa-pencil padded"></i>Register Online
                            </a>
                            <br/>
                            <small>Registration is due by January 6th</small>
                        </li>
                        <li class="list-group-item"><a href="registration.pdf">
                                <i class="far fa-file-pdf padded"></i>Paper Registration</a>
                            <br/>
                            <small>Print and return to either the Cathedral or St. Mary's Parish Office by January 6th.
                            </small>
                        </li>
                        <li class="list-group-item"><a href="flyer.pdf">
                                <i class="far fa-file-pdf padded"></i>Flyer</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>Schedule</h3>
                    <p>St. Mary's: Friday 9:00-11:00AM</p>
                    <p>6 Sessions: January 10th-February 21st</p>
                    <p><strong>Cost:</strong> FREE. </p>
                    <p><strong>Deadline:</strong> Monday, January 6th. </p>
                    <p><strong>Contact:</strong> Donna 507-454-1296</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
