<div id="angular-message" class="center-block text-center"></div>
<script>
    //Warn users if they came from an old Angular link
    $(function () {
        var hash = document.location.hash;
        var map = {
            '#!/welcome': '/',
            '#!/contact/registration': '/contact/?registration',
            '#!/rcia': '/formation/rcia.html',
            '#!/adoration': '/prayer/adoration.html',
            '#!/volunteer': '/volunteer/',
            '#!/pages/safe-environment': '/safe-environment.html',
            '#!/pages/youth': '/youth-ministry.html',
            '#!/pages/young-adults': '/young-adults.html',
            '#!/adultFormation': '/formation/adults/',
            '#!/faith-formation': '/formation/youth/',
            '#!/sacraments': '/formation/sacraments/',
            '#!/pages/vocations': '/formation/vocations.html',
            '#!/staff': '/about/staff/',
            '#!/history': '/about/history/',
            '#!/location': '/about/location.html'
        };

        if (hash && hash !== '' && hash.substr(0, 3) === '#!/') {
            console.log(hash);
            var message = 'Oops! It appears you came here from an old link.';

            if (map.hasOwnProperty(hash)) {
                message += " I think you want to go <a href='" + map[hash] + "'>here</a>.";
                message += ' Please consider updating your bookmark.';
            } else {
                message += " Use the menu or search box above to find what you're looking for.";
            }

            $('#angular-message').addClass('alert alert-danger').html(message);
        }
    });
</script>
