<!-- Fetches news from the blog and embeds it on the website -->

<div id="eventList"></div>

<script>
 function handleResponse(response) {
     for(let i = 0; i < response.items.length; i++) {
         let post = response.items[i];
         
         $('#eventList').append(
	     '<div class="panel panel-default">' +
	     '<div class="panel-heading"><a href="' + post.url + '"><h3 class="panel-title">' + post.title + '</h3></a></div>' +
	     '<div class="panel-body">' +
	     post.content +
	     '</div>' +
	     '<div class="panel-footer">Last Updated: ' + new Date(post.updated) + '</div>' +
	     '</div>'
         );
     }
 }
</script>
<script
    src="https://www.googleapis.com/blogger/v3/blogs/8165696003236082345/posts?callback=handleResponse&key=@@googleAPIKey"></script>
