<img class="mySlides img img-responsive" style="display: none" src="/images/slides/cathedral-exterior.png">
<img class="mySlides img img-responsive" style="display: block" src="/images/slides/sacred-heart-statue.jpg">
<img class="mySlides img img-responsive" style="display: none" src="/images/slides/christ-king-window.png">
<img class="mySlides img img-responsive" style="display: none" src="/images/slides/resurrection-window.png">

{#TODO make this pretty.  Need consistently sized images.#}

<script type="text/javascript">
//    let slideIndex = 0;
//    const interval = 4000;
//
//    $(carousel);
//    
//    function carousel() {
//        const slides = document.getElementsByClassName("mySlides");
//        const delay = 700;
//        for (let i = 0; i < slides.length; i++) {
//            $(slides[i]).fadeOut(delay);
//        }
//        slideIndex++;
//        if (slideIndex > slides.length) {slideIndex = 1}
//
//        setTimeout(function(){$(slides[slideIndex-1]).fadeIn()}, delay);
//        setTimeout(carousel, interval);
//    }
</script>
