<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">
                <img src="/images/combined.svg" width="60" style="float:left; margin-top: -10px"/>Cathedral & St. Casimir
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        Welcome <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/contact?registration">Register for our parish</a></li>
                        <li><a href="/formation/rcia.html">Becoming Catholic</a></li>
                        <li><a href="http://blog.cascwinona.org">Current Events</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        Parish Life <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="http://blog.cascwinona.org">Current Events</a></li>
                        <li><a href="/prayer/">Prayer Opportunities</a></li>
                        <li><a href="/volunteer">Volunteer Opportunities</a></li>
                        <li><a href="/safe-environment.html">Safe Environment</a></li>
                        <li><a href="/youth-ministry.html">Youth Ministry</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        Formation <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/formation/adults">Adult Formation</a></li>
                        <li><a href="/formation/youth">Youth Formation</a></li>
                        <li><a href="/formation/rcia.html">Becoming Catholic</a></li>
                        <li><a href="/formation/sacraments">Sacraments</a></li>
                        <li><a href="/formation/vocations.html">Vocations</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        About <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/about/staff">Staff</a></li>
                        <li><a href="/about/history">History</a></li>
                        <li><a href="/about/location.html">Location</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        eGiving <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="https://giving.parishsoft.com/cathedralgiving" target="_blank">Cathedral</a></li>
                        <li><a href="https://giving.parishsoft.com/stcasimirgiving" target="_blank">St. Casimir</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        Social <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.facebook.com/cathedralwinona">Facebook Page</a></li>
                        <li><a href="http://feedburner.google.com/fb/a/mailverify?uri=cascwinona">Email News</a></li>
                    </ul>
                </li>
                <li><a href="/contact">Contact</a></li>
            </ul>
            <div id="search-widget" class="pull-right">
                <form method="get" action="https://duckduckgo.com/">
                    <input type="hidden" name="kh" value="1"><!-- use https -->
                    <input id="search" name="q" size="15" maxlength="255" placeholder="Search" class="rounded"/>
                    <input type="hidden" name="sites" value="www.cascwinona.org"/>
                    <input type="submit" value="Go" class="btn-primary rounded"/>
                    <br/>
                    <p class="small"><em>Powered by <a href="https://duckduckgo.com/">DuckDuckGo</a></em></p>
                </form>
            </div>
        </div>
	
    </div>
</nav>

<div class="alert alert-danger text-center" style="margin-top: -12px; border-top-right-radius: 0; border-top-left-radius: 0;" >
    <span class="far fa-shield-virus"></span>
    <a href="https://www.dowr.org/statements/statements.html"><strong>Statements from Bishop John Quinn Concerning our Diocese and COVID-19</strong></a>
    <span class="far fa-times pull-right" onclick="$(this).parent().fadeOut()" style="cursor: pointer"></span>
</div>
