<h3><i class="far fa-book-reader"></i> Today's Readings<span id="seasonBanner" class="pull-right far fa-bookmark fa-1x"></span></h3>
<div class="padded">
    <h4 id="liturgicalDay"></h4>
    <p>Lectionary: <span id="lectionaryCycle"></span></p>
    <p>Psalter: <span id="psalterWeek"></span></p>
    <p>First Reading: <span id="reading1"></span></p>
    <p>Psalm: <span id="psalm"></span></p>
    <p>Second Reading:<span id="reading2"></span></p>
    <p>Gospel: <span id="gospel"></span></p>
    <a href="http://www.usccb.org/bible/readings/index.cfm" target="_blank">Click here for online
        texts</a>
</div>
<script>
 const dates = Romcal.calendarFor({
     country: 'unitedStates',
     locale: 'en',
     christmastideEnds: 'o',
     epiphanyOnJan6: false,
     corpusChristiOnThursday: false,
     ascensionOnSunday: true
 },
                                  true);

 todayDates = dates.filter((item) => {
     const today = new Date();
     const date = item.moment.toDate();
     return (
         date.getDate() === today.getDate() - 1 &&
         date.getMonth() === today.getMonth() &&
         date.getFullYear() === today.getFullYear()
     );
 });

 const today = todayDates[0];
 
 function showReadings(data) {
     $('#reading1').text(data['Mass_R1'].source);
     $('#psalm').text(data['Mass_Ps'].source);
     if (data['Mass_R2']) {
         $('#reading2').text(data['Mass_R2'].source);
     } else {
         $('#reading2').parent().hide();
     }
     $('#gospel').text(data['Mass_G'].source);
     
     $('#psalterWeek').text(today.data.meta.psalterWeek.value);
     $('#lectionaryCycle').text(today.data.meta.cycle.value);
     $('#liturgicalDay').html(today.name);

     var color = today.data.meta.liturgicalColor.value;
     if (color == "#FFFFFF") {
         color = 'gold';
     }
     
     $('#seasonBanner').css('color', color);
 }

         !function (d, id, region, day) {
             function yyyymmdd(day) {
                 const now = new Date();
                 const delta = day === 7 ? 7 - now.getDay() : 0;
                 const when = new Date(now.getTime() + 86400000 * delta);
                 return (1900 + when.getYear()) * 10000 + (1 + when.getMonth()) * 100 + when.getDate();
             }

             let js, fjs = d.getElementsByTagName('script')[0];
             if (!d.getElementById(id)) {
                 js = d.createElement('script');
                 js.id = id;
                 js.src = document.location.protocol + '//universalis.com/' + (region == "" ? region : region + "/") + yyyymmdd(day) + '/jsonpmass.js?callback=showReadings';
                 fjs.parentNode.insertBefore(js, fjs);
             }
         }(document, 'universalis-js',
           "", 1
         );
</script>
