{% extends "layout.njk" %}
{% block title %}Solidarity | Bible Studies | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
    <div class="body">
        <div class="container">
            <ol class="breadcrumb">
                <li><a>Formation</a></li>
                <li><a href="..">Adult Formation</a></li>
                <li class="active">Solidarity</li>
            </ol>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12">
                    <img src="./image.jpg" class="img img-responsive" alt="Solidarity"/>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-7">
                    <br/>
                    <p>
                        Tom Parlin, Director of Parish Social Ministry, of Catholic Charities will facilitate a
                        five-week bible study
                        on Solidarity. Each week will focus on a different theme that will enhance your understanding of
                        the rich
                        treasure of wisdom about building a just society and living lives of holiness amidst the
                        challenges of modern society.
                    </p>
                </div>
                <div class="col-sm-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLSe87gkp0ypdRdpTNajcom_-a1LS4l-KgEPFoXdjESo0TaP8uQ/viewform?usp=sf_link">
                                <i class="far fa-pencil padded"></i>Register Online
                            </a>
                        </li>
                        <li class="list-group-item"><a href="flyer.pdf">
                                <i class="far fa-file-pdf padded"></i>Flyer</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10">
                    <h3>Schedule</h3>
                    <p>Cathedral (St. Thomas Room): Tuesdays 10:30-11:45am</p>
                    <p>5 Sessions: March 2020</p>
                    <p>No cost</p>
                    <p><strong>Contact:</strong> Anna Therneau <a href="mailto:atherneau@cathedralwinona.org">atherneau@cathedralwinona.org</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
