{% extends "layout.njk" %}
{% block title %}Perpetual Adoration{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <ol class="breadcrumb">
            <li><a>Parish Life</a></li>
            <li><a href="/prayer/">Prayer Opportunities</a></li>
            <li class="active">Perpetual Adoration</li>
        </ol>
    </div>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-12">
                <h1>Perpetual Adoration</h1>
                <div class="text-muted italic">Adoremus in aeternum Sanctissimum Sacramentum - Let us forever adore the Most Blessed Sacrament</div>
            </div>
        </div>
        <div class="row" style="padding-top: 10px">
            <div class="col-md-4">
                <img src="images/adoration_chapel.png" class="img img-responsive center-block padded">
            </div>

            <div class="col-md-4">
                <p>
		    Located behind the main altar, the Adoration chapel provides the opportunity to pray before the Lord in the Blessed Sacrament, from 7:30 am Monday morning, until the Saturday 8:00 am Mass. Anyone is welcome to stop by to pray during those hours. If you would like to sign up for a regular hour, please contact Leandra Hubka, Schedule Coordinator, at 507-990-3402 or musicallyorganized@gmail.com.
		</p>
                <p>
                    If you are coming overnight between 9PM and 6AM, you will have to use the entrance on Wabasha and 
                    Main St, and ring the doorbell to have someone let you in.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
