{% extends "layout.njk" %}
{% block title %}Prayer Opportunities{% endblock %}
{% block content %}
    <style>
        .col-md-3 {
            height: 250px;
        }

        table {
            height: 100%;
        }

        tr {
            vertical-align: top;
        }

        tr.pull-down {
            vertical-align: bottom;
        }


    </style>
    <div id="body">
        <div class="container text-center">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Prayer Opportunities</h1>
                    <a href="documents/2017-prayer-opportunities.pdf" class="link-button pull-right">
                        <h4><span class="far fa-file-pdf"></span> Full Flyer</h4>
                    </a>

                </div>
            </div>
            <br/>
            <div class="container-fluid">
                <div class="row jumbotron">
                    <div class="col-sm-12 text-center">
                        <p>
                            “To pray is to believe in and worship God and to acknowledge that
                            our existence has a supernatural goal. We have not only a bodily
                            but also a spiritual life; we put God first, others before ourselves,
                            and ourselves before worldly things, before all that is transitory,
                            and that is not as valuable as our immortal souls.”
                        </p>
                        <p>- Elisabeth Leseur</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <h2>Eucharistic Adoration</h2>
                                </td>
                            </tr>
                            <tr class="pull-down">
                                <td>
                                    <p><span class="far fa-clock"></span> 7:30AM Monday - 8:00AM Saturday</p>
                                    <p><span class="far fa-map-marker"></span> Adoration Chapel</p>
                                    <p><a href="adoration.html"><span class="far fa-info-circle"></span> More
                                            Information</a>
                                    </p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <h2>Serra Club Holy Hour</h2>
                                    <p>Pray for vocations to the priesthood</p>
                                </td>
                            </tr>
                            <tr class="pull-down">
                                <td>
                                    <p><span class="far fa-clock"></span> First Thursday 5:00-6:00 pm</p>
                                    <p><span class="far fa-map-marker"></span> Adoration Chapel</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <h2>Cor Jesu</h2>
                                    <p>An evening of Eucharistic Adoration, Confession, and music in honor of the Sacred
                                        Heart of Jesus</p>
                                </td>
                            </tr>
                            <tr class="pull-down">
                                <td>
                                    <p><span class="far fa-clock"></span> First Fridays, September-May, 7-9PM</p>
                                    <p><span class="far fa-map-marker"></span> Main Church</p>
                                    <p>
                                        <a href="corJesu/"><span class="far fa-info-circle"></span> More Information</a>
                                        <a href="https://www.facebook.com/WinonaCorJesu"><span
                                                class="fab fa-facebook-square"></span> Facebook</a></p>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <table>
                            <tbody>
                            <tr>
                                <td><h2>Holy Hour of Prayer for Life, Marriage, & Religious Liberty</h2></td>
                            </tr>
                            <tr class="pull-down">
                                <td>
                                    <p><span class="far fa-clock"></span> First Saturdays, 8:30-9:30AM</p>
                                    <p><span class="far fa-map-marker"></span> Adoration Chapel</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <table>
                            <tbody>
                            <tr>
                                <td><h2>Holy Rosary</h2></td>
                            </tr>
                            <tr class="pull-down">
                                <td>
                                    <p><span class="far fa-clock"></span> Tuesday - Friday 11:50AM (Before 12:10PM
                                        Mass)</p>
                                    <p><span class="far fa-clock"></span> Saturday 7:40AM (Before 8:00AM Mass)</p>
                                    <p><span class="far fa-map-marker"></span> Main Church</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <h2>Wednesday Evening Prayer Hour</h2>
                                    <p>Liturgy of the Hours & Personal Prayer Intentions</p>
                                </td>
                            </tr>
                            <tr class="pull-down">
                                <td>
                                    <p><span class="far fa-clock"></span> Wednesday 7:00-8:00PM</p>
                                    <p><span class="far fa-map-marker"></span> Adoration Chapel</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <table>
                            <tbody>
                            <tr>
                                <td>
                                    <h2>Thursday Evening Prayer Hour</h2>
                                    <p>Rosary and Prayers</p>
                                </td>
                            </tr>
                            <tr class="pull-down">
                                <td>
                                    <p><span class="far fa-clock"></span> Thursday 6:00-7:00PM</p>
                                    <p><span class="far fa-map-marker"></span> Adoration Chapel</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <table>
                            <tbody>
                            <tr>
                                <td><h2>Rosary of Reparation to the Immaculate Heart of Mary</h2></td>
                            </tr>
                            <tr class="pull-down">
                                <td>
                                    <p><span class="far fa-clock"></span> First Saturdays 7:40AM</p>
                                    <p><span class="far fa-map-marker"></span> Main Church</p>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
