{% extends "layout.njk" %}
{% block title %}Bible Studies | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
<div id="body">
    <div class="container">
        <ol class="breadcrumb">
            <li><a>Formation</a></li>
            <li><a href="..">Adult Formation</a></li>
            <li class="active">Matthew</li>
        </ol>
    </div>
    <div class="container">
        <div class="row text-center">
            <div class="col-sm-12">
                <img class="img img-responsive center-block" src="header.jpg"
                     alt="header image"/>
                <h1>Matthew: The King and His Kingdom</h1>
                <p>by Jeff Cavins and Sarah Christmyer</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <p>
                    <span class="italic">Matthew: The King and His Kingdom</span> is an exciting study that explores the life and mission of Jesus
                    as recorded in the Gospel. Matthew demonstrates how the promises and prophecies of the Old Testament
                    are fulfilled in Christ, who establishes a New Law and inaugurates the Kingdom of Heaven on earth.
                    Participants will see Jesus as the awaited Messiah who relives the life and struggles of Israel to
                    become the faithful and victorious King. Set in the rich context of Jesus' Jewish culture, this
                    study will help participants understand who Jesus is and what his life and teachings mean for us
                    today.

                </p>
            </div>
            <div class="col-sm-3">
                <ul class="list-group">
                    <li class="list-group-item">
                        <a href="https://goo.gl/forms/bVxGYdxAIzMg9BUx2">
                            <i class="far fa-pencil padded"></i>Register Online
                        </a>
                        <br/>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3"><img class="img img-responsive" src="materials.png"/></div>
            <div class="col-sm-9">
                <strong>Your Group Will:</strong>
                <ul>
                    <li>See Jesus as the Son of David, the Son of Abraham, the New Moses, the True Manna, the New
                        Temple—and learn what this means for us today.
                    </li>
                    <li>Learn how Jesus reconstituted the struggling kingdom of Israel around Himself and opened the
                        Kingdom of God to all people.
                    </li>
                    <li>Witness how Christ established his Church with the Twelve Apostles, and Peter as his vicar.</li>
                    <li>Discover the roots of the sacraments, and see how Jesus' words and actions are reflected in the
                        Holy Sacrifice of the Mass.
                    </li>
                    <li>Watch Jesus re-live the history of Israel as the obedient Son who trusts the Father, defeats
                        hell and the grave, and rises to new life.
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h3 class="text-center">Applying the Faith to Your Life – How the Series Works</h3>
                <img class="img img-responsive center-block" src="progress.png"/>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-sm-3">
                <strong class="center-block">Home Preparation</strong><br/>
                Reading assignments and study questions are completed before participants come together. This way
                students have already worked through Scripture on their own.
            </div>
            <div class="col-sm-3">
                <strong class="center-block">Small Group Discussion</strong><br/>
                Participants have the opportunity to answer questions and share insights in a small group format.
            </div>
            <div class="col-sm-3">
                <strong class="center-block">DVD Presentation</strong><br/>
                A dynamic and engaging (50 minute) DVD lesson is presented by Jeff Cavins.
            </div>
            <div class="col-sm-3">
                <strong class="center-block">Review</strong><br/>
                A final review is provided in detailed responses to the questions, which are also part of the study set.
                These are always given out at the end of the session.
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <img src="crown.jpg" class="img img-responsive"/>
            </div>
            <div class="col-sm-9">
                <h3>Registration Information</h3>
                <strong>Cost:</strong> $32 payable to "Cathedral"
                <br/>
                <strong>Schedule:</strong> 24 Sessions: Sept. 18, 2017 - May 1, 2018 (off during Holidays)
                <br/>
                <br/>
                Partial scholarships are offered on a limited basis based upon availability.
                <br/>If you have any questions please contact:
                <br/>Donna Fakler: 507.454.1296 or dfakler@charter.net
                <br/>Cathedral of the Sacred Heart & St. Casimir Parish Office: 507.452.4770 or info@cathedralwinona.org
            </div>
        </div>
    </div>
</div>
{% endblock %}
