<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta property="og:url" content="http://www.cascwinona.org"/>
    <meta property="og:image" content="http://www.cascwinona.org/images/slides/cathedral_exterior.png"/>
    <meta property="og:title" content="Cathedral of the Sacred Heart & St. Casimir Parish"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="Xl94SceAluo3M4srkEmzdxXioukJBcyEgpbaySFjt2A" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %} {% endblock %} | Cathedral & St. Casimir Parishes, Winona</title>
    <link rel="stylesheet" href="/css/style.min.css">
    <script src="/js/scripts.min.js"></script>
    {% block head %} {% endblock %}
</head>
<body>
{% include "partials/menu.njk" %}
{% include "partials/angular-handler.html" %}

{% block content %} {% endblock %}

<div id="footer">
    <div class="text-center">
        <div class="footer-links">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <a><i class="far fa-gift"></i> Online Giving:</a>
                    <br/>
                    <a href="https://giving.parishsoft.com/cathedralgiving" target="_blank">Cathedral</a>|
                    <a href="https://giving.parishsoft.com/stcasimirgiving" target="_blank">St. Casimir</a>
                </div>
                <div class="col-md-3">
                    <a href="https://www.facebook.com/cathedralwinona/" target="_blank">
                        <i class="fab fa-facebook-square"></i> Follow on Facebook
                    </a></div>
                <div class="col-md-3">
                    <a href="http://feedburner.google.com/fb/a/mailverify?uri=cascwinona"
                       target="_blank">
                        <i class="far fa-envelope"></i> Get Parish News by Email
                    </a></div>
            </div>
        </div>
        <br><br>
        <div class="text-info">
            Copyright © 2020 Cathedral of the Sacred Heart, Winona, MN
            <br/><a href='mailto:info@cathedralwinona.org'>info@cathedralwinona.org</a> | 507.452.4770 | 360 Main Street, Winona, MN 55987
        </div>
    </div>
</div>
</body>
</html>
