{% extends "layout.njk" %}
{% block title %}Pivotal | Bible Studies | Cathedral and St. Casimir Parish{% endblock %}
{% block content %}
    <div class="body">
        <div class="container">
            <ol class="breadcrumb">
                <li><a>Formation</a></li>
                <li><a href="..">Adult Formation</a></li>
                <li class="active">The Pivotal Players</li>
            </ol>
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="col-sm-12">
                    <h1>The Pivotal Players</h1>
                    <p>"St. Augustine & St. Benedict" by Bishop Robert Barron</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2"><img class="img img-responsive" src="./image.png"/></div>
                <div class="col-sm-7">
                    <p>
                        This study focuses on two incredible saints from the fourth and fifth centuries: St. Augustine
                        of Hippo and St. Benedict of Nursia.
                        St. Augustine, the Teacher, is possibly the best example of how faith in Christ changed a
                        person. Augustine’s narrative of personal transformation in his book Confessions provides a
                        template for life in Christ that still rings true today.
                    </p>
                    <p>
                        Many would argue that St. Benedict, the Monk, contributed more to saving western Christian
                        culture than anyone else. Born just after Rome fell, Benedict founded the religious community
                        that would, in time, preserve the best of the old and allow for the emergence of an authentic,
                        Christian way of life.
                    </p>
                    <p>
                        Join Bishop Barron as he traces the lives and contributions of these two pivotal saints.
                    </p>
                    <p>
                        (Format: Student Workbook, Small Group Discussion, DVD presentations.)
                    </p>
                </div>
                <div class="col-sm-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="https://goo.gl/forms/k4a8JNNYgKISVUPZ2">
                                <i class="far fa-pencil padded"></i>Register Online
                            </a>
                            <br/>
                            <small>Registration and payment are due by January 28th</small>
                        </li>
                        <li class="list-group-item">
                            <a href="registration.pdf"><i class="far fa-file-pdf padded"></i>Paper Registration</a>
                            <br/>
                            <small>Print and return to either the Cathedral or St. Mary's Parish Office by January 28th.
                            </small>
                        </li>
                        <li class="list-group-item"><a href="flyer.pdf">
                                <i class="far fa-file-pdf padded"></i>Flyer</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-sm-offset-2">
                    <h3>Schedule</h3>
                    <p>Cathedral: Monday "Brown Bag" 12:10-12:40PM</p>
                    <p>Cathedral: Tuesday 9:30-11:30AM</p>
                    <p>Cathedral: Tuesday 6:30-8:30PM</p>
                    <p>5 Sessions: February 12th - March 12th</p>
                    <p><strong>Cost:</strong> $14. </p>
                    <p><strong>Deadline:</strong> Monday, January 28th. </p>
                    <p>Make checks payable to "Cathedral” Click the link above to register or pick up forms in
                        Cathedral’s Gathering Space & St. Mary’s Commons. (See Registration Form for 45 min class &
                        Home Study Options.)</p>
                    <p><strong>Contact:</strong> Donna 507-454-1296</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
